.header-side-menu {
    position: fixed;
    top: 0;
    right: -430px;
    width: 430px;
    height: 100%;
    min-height: 100%;
    text-align: end;
    padding: 40px;
    background-color: #fff;
    overflow: auto;
    visibility: hidden;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 5px 40.41px 2.59px rgba(44,41,42,.03);
    box-shadow: 1px 5px 40.41px 2.59px rgba(44,41,42,.03);
    -webkit-transition: all .6s cubic-bezier(.77,0,.175,1);
    -o-transition: all .6s cubic-bezier(.77,0,.175,1);
    transition: all .6s cubic-bezier(.77,0,.175,1);
    &::-webkit-scrollbar {
        display: none;
    }
    .side-menu-close {
        position: absolute;
        z-index: 10;
        transition: 0.3s ease-out;
        cursor: pointer;
        i {
            font-size: 24px;
            transition: 0.3s ease-out;
            color: #211E55;
            &:hover{
                color: #CB4042;
            }
        }
        &:hover{
            transform:rotate(180deg);
        }
    }
    .menu_name {
        margin-bottom: 32px;
        position: relative;
        a {
            display: block;
            text-align: center;
            img {
                max-width: 150px;
            }
        }
    }
    .menu_text {
        margin-bottom: 48px;
        .textwidget {
            text-align: center;
            p {
                font-weight: 300;
            }
        }
    }
    .otis_instagram {
        border-bottom: 1px solid #D7DADF;
        .otis_instagram_widget {
            .otis_instagram_space {
                .otis_instagram_feed {
                    margin: 0;
                    .otis_instagram_img {
                        text-align: center;
                        img {
                            width: 75%;
                        }
                    }
                    .otis_instagram_code {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 32px 0;
                        img {
                            width: 50px;
                            margin: 0 6px;
                        }
                        .otis_num {
                            width: 60px;
                            text-align: center;
                            color: #fff;
                            background-color: #211E55;
                            border: 1px solid #211E55;
                            font-weight: bold;
                        }
                        .otis_code {
                            width: 200px;
                            border: 1px solid #211E55;
                            text-align: center;
                            font {
                                font-weight: bold;
                            }
                        }
                        .otis_padding {
                            padding: 6px 0;
                        }

                    }
                }
            }
        }
    }
    .otis_cart {
        padding-top: 24px;
        padding-bottom: 24px;
        // overflow-y: scroll;
        .otis_cart_inner {
            // overflow-y: scroll;
            // max-height: 300px;
            .cart_row {
                display: flex;
                align-items: flex-end;
                background-color: #FAFAFA;
                margin-bottom: 16px;
                figure {
                    width: 100px;
                    img {
                        width: 100%;
                    }
                }
                .cart_text {
                    width: 250px;
                    .cart_price {
                        display: flex;
                        justify-content: space-between;
                        span {
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                    .cart_btn {
                        display: flex;
                        .btn_wish {
                            background-color: #ADADAD;
                            color: #FAFAFA;
                        }
                        .btn_booking {
                            background-color: #F3F4ED;
                            color: #8B8B8B;
                        }
                        .btn_width {
                            width: 50%;
                            height: 35px;
                            margin: 0;
                            padding: 0;
                            font-size: 14px;
                        }
                        button {
                            transition: 0.3s ease-out;
                            &:hover {
                                background-color: #211E55;
                                color: #FAFAFA;
                            }
                        }
                    }
                }
            }
        }
    }
    .add_cart {
        padding: 6px 40px;
        border: 1px solid #211E55;
        color: #211E55;
        transition: 0.3s ease-out;
        &:hover {
            background-color: #211E55;
            color: #FAFAFA;
        }
    }
}

.header-side-menu-active {
    right: 0;
    visibility: visible;
}