/* 每個功能都具備 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seller-ul {
  list-style: none;
}

.seller-main {
  width: 100%;
}

/* 模組套件 */
.d-flex {
  display: flex;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  height: 100vh;
}

.flex-wrap {
  flex-wrap: wrap;
}

.seller-toggle {
  margin: 7px;
}

.seller-toggle > div {
  margin: 5px;
  cursor: pointer;
}

.icon-size {
  width: 16px;
  height: 16px;
}

.seller-round {
  border-radius: 50%;
}

.w-90 {
  width: 90%;
  margin: 0 auto;
}
/* 個別項 */
.seller-container {
  height: 1100px;
  margin: 25px 100px 25px;
}
.breadcrumb {
  margin-left: 378px;
}

/* 搜尋欄 */
.seller-wrapper {
  margin: 10px;
  justify-content: space-between;
}

.seller-account-button {
  height: 30px;
  width: 100px;
  background: transparent;
}
.seller-infowrapper {
  border-bottom: 1px solid #707070;
  margin: 30px;
  display: flex;
}

.seller-infobar {
  width: 95%;
  text-align: center;
}

.seller-profile-container {
  padding: 15px;
  /* height:80px; */
}

.seller-editbtn {
  background: transparent;
  border: 1px solid #707070;
}
