.seller-a {
  text-decoration: none;
  color: #707070;
}
.seller-main {
  width: 60%;
  height: 100%;
}
.seller-toggle {
  margin: 7px;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid #707070;
}

.seller-toggle > div {
  margin: 5px;
}

.icon-size {
  width: 16px;
  height: 16px;
}
.seller-card {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
}
/* 待辦清單 */
.seller-todo-list {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
}
.seller-todo-item {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.seller-todo-list ul li {
  width: 25%;
  height: 100px;
  border: 1px solid #ccc;
  text-align: center;
}

/* 行銷活動 */
.seller-marketing {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
}
.seller-graph {
  width: 60%;
  height: 300px;
  border: 1px solid #707070;
}

.seller-button {
  width: 30%;
  height: 300px;
  margin: 5px;
}

/* 我的表現 */
.seller-performance {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
}
.seller-table {
  width: 100%;
  border: 1px solid #707070;
  margin: 13px auto;
  border-collapse: collapse;
  text-align: center;
}

.seller-table tbody tr td {
  padding: 10px;
  border-bottom: 1px solid #707070;
  border-top: 1px solid #707070;
}
