/* 每個功能都具備 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seller-a {
  text-decoration: none;
  color: #707070;
}

.seller-main {
  width: 100%;
}
.seller-order {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  height: 1000px;
}

/* 模組套件 */
.d-flex {
  display: flex;
}

.seller-toggle {
  margin: 7px;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid #707070;
}

.seller-toggle > a {
  margin: 5px;
  cursor: pointer;
}

.icon-size {
  width: 16px;
  height: 16px;
}

.w-90 {
  width: 90%;
  margin: 0 auto;
}
.h-100 {
  height: 100px;
}

/* 個別項 */
.seller-container {
  height: 1000px;
  margin: 25px 100px 25px;
  display: flex;
}

.breadcrumb {
  margin-left: 378px;
}
/* 左方出貨列表 */
.seller-order-list {
  width: 70%;
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  height: 100vh;
}

.seller-sendtype {
  margin: 0 10px;
  border: 1px solid #cb4042;
  color: #cb4042;
  background: transparent;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.seller-page {
  margin: 0 20px;
  border: 1px solid #000;
  color: #000;
  background: transparent;
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.seller-show-pages {
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  display: flex;
  margin-bottom: 50px;
  border-bottom: 1px solid #707070;
  padding-bottom: 20px;
}

.seller-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.seller-left-arrow {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-100%, -50%);
}

.seller-right-arrow {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(100%, -50%);
}

.order-createdate {
  margin-top: 10px;
}
/* 訂單清單 */
.seller-table {
  width: 98%;
}
.seller-table,
.seller-table tbody tr td {
  margin: 20px 0;
  border: none;
}
.seller thead tr th {
  width: 100%;
}

#orderType,
#orderOrder {
  border: 1px solid #707070;
  margin: 5px;
}
/* 對應出貨訂單 */
.seller-get-order {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  height: 100vh;
}

.seller-arrangeorderbutton {
  width: 80%;
  margin: 0;
  border: 1px solid #cb4042;
  color: #cb4042;
  background: transparent;
  height: 30px;
  cursor: pointer;
  position: relative;
}
.seller-arrangeorderbutton-txt {
  color: #cb4042;
}
.seller-track {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}

.order-order-out,
.order-order-doc {
  position: relative;
  margin: 30px;
  display: flex;
}
.seller-img-position {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.seller-btntxt {
  margin-left: 16px;
}
