/* 每個功能都具備 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seller-a {
  text-decoration: none;
  color: #707070;
}

.seller-main {
  width: 100%;
}

/* 模組套件 */
.d-flex {
  display: flex;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  height: 100vh;
}

.seller-toggle {
  margin: 7px;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid #707070;
}

.seller-toggle > a {
  margin: 5px;
  cursor: pointer;
}
.seller-toggle-down {
  border-bottom: 1px solid #707070;
  margin: 7px;
  margin-top: 30px;
  display: flex;
  margin-bottom: 20px;
}

.seller-toggle-down > div {
  margin: 5px;
  cursor: pointer;
}

.icon-size {
  width: 16px;
  height: 16px;
}

.w-90 {
  width: 90%;
  margin: 0 auto;
}
.h-100 {
  height: 100px;
}

/* 個別項 */
.seller-container {
  height: 1100px;
  margin: 25px 100px 25px;
  display: flex;
}

.breadcrumb {
  margin-left: 378px;
}
/* 訂單管理標頭 */
.seller-refund {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  height: 1000px;
}

/* 搜尋欄 */
.seller-wrapper {
  margin: 10px;
  justify-content: space-between;
  display: flex;
}

.seller-search,
.refund-createdate {
  margin: 10px;
}

#orderType,
#orderOrder {
  border: 1px solid #707070;
  margin: 10px;
}

#startdate,
#enddate {
  border: 1px solid #707070;
  margin: 10px;
}

.seller-search {
  border: 1px solid #707070;
  width: 30%;
  height: 30px;
  position: relative;
}

.seller-search-bar {
  height: 30px;
  width: 85%;
  font-size: 14px;
  border: 1px solid #707070;
  margin-top: -1px;
  margin-left: -1px;
}

.seller-search-img {
  position: absolute;
  right: 7.5%;
  top: 50%;
  transform: translate(50%, -50%);
}

.seller-exportbtn {
  border: 1px solid #707070;
  height: 30px;
  width: 100px;
  background: transparent;
  margin-right: 10px;
}

#sendOrderBtn {
  height: 30px;
  width: 100px;
  background: #cb4042;
  border: none;
  color: #fff;
}
/* 訂單清單 */
.seller-table {
  width: 98%;
}
