/* 每個功能都具備 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seller-main {
  width: 100%;
  background: #fff;
}

/* 模組套件 */
.d-flex {
  display: flex;
}

.seller-toggle {
  margin: 7px;
  display: flex;
  margin-bottom: 1px solid #707070;
  padding: 10px;
}

.seller-toggle > div {
  margin: 5px;
  cursor: pointer;
}

.icon-size {
  width: 16px;
  height: 16px;
}

.w-90 {
  width: 90%;
  margin: 0 auto;
}
/* 個別項 */
.seller-container {
  height: 1050px;
  margin: 25px 100px 25px;
}

.breadcrumb {
  margin-left: 378px;
}

.seller-myproduct {
  height: 150vh;
}
/* 搜尋欄 */
.product-wrapper {
  margin: 10px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.search-wrapper,
.product-createdate,
.seller-quantity,
.seller-soldproduct {
  margin: 15px 0 15px 0;
  width: 50%;

  /* border: 1px solid #707070; */
}
.seller-soldproduct {
  text-align: start;
}
.seller-btnset {
  justify-content: flex-end;
  display: flex;
  margin: 20px 10px 0 0;
}
.seller-resetbtn,
.seller-searchbtn,
.seller-addproduct {
  margin-right: 10px;
}

.product-search {
  border: 1px solid #707070;
  width: 50%;
  height: 30px;
  position: relative;
}

.product-search-bar {
  height: 30px;
  width: 85%;
  font-size: 14px;
  border: 1px solid #707070;
  margin-top: -1px;
  margin-left: -1px;
}

.product-search-img {
  position: absolute;
  right: 7.5%;
  top: 50%;
  transform: translate(50%, -50%);
}

.seller-button,
.seller-resetbtn,
.seller-addproduct {
  height: 30px;
  width: 100px;
  border: 1px solid #707070;
  background: transparent;
}

.seller-exportbtn,
#startdate,
#enddate,
#minquan,
#maxquan,
#soldminquan,
#soldmaxquan {
  border: 1px solid #707070;
}

#minquan,
#maxquan,
#soldminquan,
#soldmaxquan {
  width: 80px;
  margin: 10px;
}

#sendOrderBtn,
.seller-searchbtn,
.seller-addtool {
  background: #cb4042;
  border: none;
  color: #fff;
}

/* 訂單清單 */
.product-table {
  height: 50vh;
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
}

.seller-table {
  width: 98%;
  /* border: 1px solid #707070; */
  margin: 20px 0;
}

.seller-table tbody tr td {
  margin: 20px 0;
  /* border: 1px solid #707070; */
  width: 12.5%;
}

/* .seller-form {
  border-bottom: 1px solid #707070;
  padding-bottom: 20px;
} */
#seller-selectAll {
  border: 1px solid #707070;
  width: 10px;
  height: 10px;
}
