/* ============================== 共用 ============================== */
body {
  background-color: white;
}
.blog-standard-fig img {
  width: 100%;
  height: 100%;
}
.d-flex {
  display: flex;
}
.fill {
  object-fit: fill;
}
.contain {
  object-fit: contain;
}
.cover {
  object-fit: cover;
}
.none {
  object-fit: none;
}
.justify-content-between {
  justify-content: space-between;
}
/* ============================== 自訂 ============================== */

/* 其他 */
.blog-standard-spacing {
  height: 90px;
}

/* ---------- top ---------- */
.wrap-top {
  width: 100%;
}

.carouselWall {
  margin-left: 50px;
  margin-right: 50px;
}
.imageWall {
  width: 100%;
  height: 100%;
  background: lightcoral;
}
.wallFig {
  width: 100%;
  height: 100%;
}
.slideWall {
  width: 100%;
  height: 350px;
  background-image: url(../../img/blog-img/blog-standard/points.png);
  background-size: 200px;
  opacity: 0.3;
}
.slides {
  width: 88%;
  margin: 0 auto;
  height: 100%;
  border: 1px solid red;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}
.slide-images {
  opacity: 1;
}
.breadcrumbs {
  width: 100%;
  height: 90px;
}
.breadcrumbs h5 {
  font-size: 20px;
  line-height: 90px;
  margin-left: 50px;
}
/* ---------- main ---------- */
.wrap-mid {
  width: 90%;
  margin: 0 auto;
}
.blog {
  width: 100%;
}
.blog-main {
  width: 80%;
}
.blog-wellcome {
  width: 100%;
  height: 160px;
}
.blog-wellcome h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}
.blog-btns {
  width: 100%;
  height: 64px;
  line-height: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 2px solid #cf9e9e;
  border-bottom: 2px solid #cf9e9e;
}
.blog-btns a {
  text-decoration: none;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 800;
  color: #cf9e9e;
}
.blog-btns-right {
}
.blog-btns-right select {
  width: 10rem;
  height: 60%;
  margin-top: 2.5%;
  color: #cf9e9e;
  font-weight: 800;
  border: 2px solid #cf9e9e;
  border-radius: 10px;
  margin-right: 40px;
}
.blog-btns-right select > option {
  color: #cf9e9e;
  font-weight: 800;
}
.blog-btns-right select:hover,
.blog-btns-right figure:hover,
.blog-btns-right select > option:hover {
  cursor: pointer;
}
.blog-btns-right figure {
  position: relative;
  margin-right: 80px;
}

.blog-btns-right figure img {
  position: absolute;
  width: 2rem;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  color: #cf9e9e;
}
.blog-list {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.blog-card {
  position: relative;
  width: 25%;
  height: 400px;
  padding: 10px;
}
.blog-card-fig {
  width: 100%;
  height: 65%;
}
.blog-card-fig img {
  width: 100%;
  height: 95%;
}
.blog-card-title {
  width: 100%;
  height: 10%;
  margin-bottom: 0;
  font-size: 24px;
  color: #2c3e50;
  font-weight: 800;
  text-align: center;
}
.blog-card-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  font-size: 16px;
  color: #2c3e50;
}
.blog-card-calendar {
  position: absolute;
  width: 25%;
  height: 20%;
  top: 0px;
  left: 30px;
  background: white;
  transform: translateY(-10%);
  /* z-index: 20; */
  text-align: center;
}
.blog-card-calendar-in {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10%;
  color: white;
  background: #211e55;
}
.blog-card-calendar-in h2 {
  position: absolute;
  font-size: 32px;
  color: white;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog-card-calendar-in h5 {
  position: absolute;
  font-size: 16px;
  color: white;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.read-more {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.read-more-btn {
  width: 100px;
  height: 45px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.blog-standard-pages {
  width: 100%;
  height: 60px;
  margin: 0 0 20px 0;
  text-align: center;
}
.prev-page,
.current-page,
.mores,
.next-page {
  width: 3%;
  margin: 1% 1% 1% 0;
  font-size: 16px;
  font-weight: 900;
  line-height: 32px;
  color: #adadad;
}
.prev-page {
  position: relative;

  background-repeat: no-repeat;
}
.next-page {
  position: relative;

  background-repeat: no-repeat;
}
.prev-page img,
.next-page img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
}
.prev-page:hover,
.current-page:hover,
.mores:hover,
.next-page:hover {
  width: 3%;
  margin: 1% 1% 1% 0;
  line-height: 32px;
  color: white;
  background: #211e55;
  cursor: pointer;
}
.prev-page:hover img {
  /* width: 35%; */
  /* border-image: url('../img/blog-standard/prev-page-hover.svg'); */
  background-image: url('../../img/blog-img/blog-standard/prev-page-hover.svg');
  background-repeat: no-repeat;
}
.next-page:hover img {
  /* width: 35%; */
  background-image: url('../../img/blog-img/blog-standard/next-page-hover.svg');
  background-repeat: no-repeat;
}
/* ---------- aside ---------- */
.blog-aside {
  width: 20%;
  height: 100%;
}
.post-map {
  width: 90%;
  margin: 0 0 0 10%;
  text-align: center;
}
.post-map > button {
  width: 90%;
  margin: 0 auto;
  line-height: 32px;
  color: #fafaf7;
  background: #4e4f97;
}
.post-map figure {
  width: 100%;
  height: 100%;
}
.post-map img {
  width: 100%;
  height: 100%;
}
.user-icon {
  width: 90%;
  margin: 20px 0 0 10%;
  text-align: center;
  align-content: center;
}
.user-icon > h2 {
  font-size: 20px;
  margin: 20px auto;
}
.user-icon-fig {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: rgb(151, 160, 133);
}
.user-icon-fig img {
  width: 100%;
}
.link-btns {
  width: 100%;
  margin: 20px 0;
}
.link-btns h2 {
  font-size: 12px;
}
.link-one-btn {
  width: 33.33%;
  text-align: center;
}
.linkFB,
.linkIG,
.linkLINE {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  background: #ebdbc9;
  border-radius: 50%;
}
.link-subscribe {
  width: 90%;
  margin: 60px 0 0 10%;
}
.link-subscribe-border {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ebdbc9;
}
.link-subscribe h5 {
  margin: 20px auto;
  text-align: center;
}
.link-subscribe-in {
  width: 90%;
  line-height: 32px;
  margin: 20px auto;
}
.link-subscribe-in input {
  width: 80%;
  text-align: center;
  border: 1px solid #211e55;
}
.link-subscribe-in button {
  width: 15%;
  border: 1px solid #211e55;
  background: #ebdbc9;
}
.link-subscribe-in button img {
  width: 40%;
}
.recent-post {
  width: 90%;
  height: 400px;
  margin: 60px 0 0 10%;
}
.recent-post-in {
  width: 90%;
  margin: 0 auto;
}
.recent-post-in h2 {
  font-size: 20px;
  margin: 20px 0;
}
.recent-post-in-one {
  margin-bottom: 20px;
}
.recent-post-in-one-img {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}
.recent-post-in-one-txt {
  margin-left: 10px;
}
.recent-post-in-one-txt h5 {
  margin-top: 10px;
  font-size: 16px;
  color: #adadad;
}
