@import '../../../assets/scss/variables';

.Productaside {
  width: 80%;
  margin: 0 auto;
  padding: 150px 0 50px 0;
  .yycrumb {
    a  {
      color: #8b8b8b;
    }
  }
}

/* 版本尺寸 */
@media screen and (min-width: 1920px){}
@media (min-width:1366px) and (max-width:1920px){} /* 電腦 */
@media (min-width:1024px) and (max-width:1365px){
  .Productaside {
    width: 90%;
  }
} /* 電腦 */
@media (min-width:768px) and (max-width:1023px){
  .Productaside {
    width: 95%;
  }
} /* iPad */
@media (min-width:414px) and (max-width:767px){
  .Productaside {
    width: 95%;
    padding: 8px 0;
    margin-top: 10px;
  }
} /* iPad mini & iphone */
@media (min-width:374px) and (max-width:413px){
  .Productaside {
    width: 95%;
    padding: 8px 0;
    margin-top: 10px;
  }
} /* iphone */
@media screen and (max-width: 373px){
  .Productaside {
    width: 95%;
    padding: 8px 0;
    margin-top: 10px;
  }
}/* iphone */
