footer {
  background-color: #fff;
  margin-top: 100px;
  .footer_content {
    padding: 40px 0 60px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    .footer_one_msg {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px 0 40px 0;
      .footer_common {
        width: 50%;
        text-align: center;
        p {
          font-weight: 300;
        }
      }
      .footer_send {
        // position: relative;
        h5 {
          margin-bottom: 10px;
        }
        &:after {
          content: '';
          position: absolute;
          height: 100%;
          width: 1px;
          top: 0;
          right: 0;
          background-color: #e1e1e1;
        }
        .pcform {
          margin: 35px auto 0;
          max-width: 324px;
          padding: 0 20px;
          form {
            .pc_email {
              // position: relative;
              display: flex;
              span {
                // position: relative;
                input {
                  height: 30px;
                  font-size: 12px;
                  line-height: 2.5em;
                  border: none;
                  padding: 0;
                  margin: 0;
                  border-bottom: 1px solid #000;
                  text-transform: none;
                }
              }
              .button_submit {
                padding: 0;
                // position: absolute;
                // right: 0;
                // top: 6px;
                background-color: transparent;
                border: none;
              }
            }
          }
        }
      }
      .footer_gift {
        a {
          .footer_inner {
          }
          .footer_bottom_holder {
            padding-top: 10px;
            h5 {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .footer_bottom {
    .footer-top-holder {
      padding: 85px 0;
      .footer-top-inner {
        width: 90%;
        margin: 0 auto;
        .footer-top-row {
          display: flex;
          justify-content: center;
          .footer-column {
            width: 25%;
            box-sizing: border-box;
            text-align: center;
            .footer-column-content {
              .widget-title-holder {
                h5 {
                }
              }
              .textwidget {
                margin-top: 16px;
                p {
                  font-weight: 300;
                  font-size: 14px;
                  padding-bottom: 16px;
                  a {
                    span {
                      border-bottom: 1px solid transparent;
                      transition: 0.3s ease-in;
                    }
                  }
                  &:hover a span {
                    color: #4e4f97;
                    border-bottom: 1px solid #4e4f97;
                  }
                }
              }
              .textwidget-icon {
                transition: 0.3s ease-in;
                a {
                  padding: 6px;
                  &:hover svg {
                    color: #4e4f97;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-bot-holder {
    background-color: #211e55;
    .footer-bot-inner {
      text-align: center;
      padding: 16px 0;
      span {
        color: #fff;
        font-size: 12px;
      }
    }
  }
}

// antd
.ant-select-show-search.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  border: none;
}

@media screen and (min-width: 1920px) {
}
@media (min-width: 1366px) and (max-width: 1920px) {
} /* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
} /* 電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-top-holder .footer-top-inner .footer-top-row {
    flex-wrap: wrap;
  }
  footer
    .footer_bottom
    .footer-top-holder
    .footer-top-inner
    .footer-top-row
    .footer-column {
    width: 50%;
  }
} /* iPad */
@media (min-width: 414px) and (max-width: 767px) {
  footer .footer_content {
    padding: 0;
  }
  footer .footer_content .footer_one_msg {
    flex-wrap: wrap;
  }
  footer .footer_content .footer_one_msg .footer_common {
    width: 100%;
    padding: 30px 0;
  }
  .footer-top-holder .footer-top-inner .footer-top-row {
    flex-wrap: wrap;
  }
  footer
    .footer_bottom
    .footer-top-holder
    .footer-top-inner
    .footer-top-row
    .footer-column {
    width: 100%;
  }
} /* iPad mini & iphone */
@media (min-width: 374px) and (max-width: 413px) {
  footer .footer_content {
    padding: 0;
  }
  footer .footer_content .footer_one_msg {
    flex-wrap: wrap;
  }
  footer .footer_content .footer_one_msg .footer_common {
    width: 100%;
    padding: 30px 0;
  }
  .footer-top-holder .footer-top-inner .footer-top-row {
    flex-wrap: wrap;
  }
  footer
    .footer_bottom
    .footer-top-holder
    .footer-top-inner
    .footer-top-row
    .footer-column {
    width: 100%;
  }
} /* iphone */
@media screen and (max-width: 373px) {
} /* iphone */
