@import './variables';

.WiHeader {
  .swiper-container {
    // border: red solid 2px;
    .swiper-wrapper {
      height: 350px;
      > div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        > h1 {
          position: absolute;
          font-size: 48px;
          color: white;
        }
      }
      #Aboutimg3 > h1 {
        // color: black;
      }
    }
  }
}

.Aboutcrumb {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  a {
    color: gray;
  }
}
.WiIntroduce {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  //   border: red solid 2px;
  > p {
    width: 40%;
    font-size: 14px;
    line-height: 28px;
    // padding: 50px;
  }
  .Introduce_pic {
    display: flex;
    align-items: center;
    width: 50%;
    a {
      > img {
        width: 350px;
      }
      > img:hover {
        filter: blur(3px);
      }
    }
  }
}
.Introduce_fashion {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: green solid 2px;
  img {
    border-radius: 50%;
    width: 300px;
    padding: 30px;
  }
  p {
    text-align: center;
    font-size: 16px;
  }
}
.Introduce_way {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  div {
    padding-left: 50px;
    .Wipway {
      font-size: 45px;
    }
  }

  //   align-items: center;
}
@media screen and (min-width: 1920px) {
}
@media (min-width: 1366px) and (max-width: 1920px) {
} /* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
} /* 電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
  .WiHeader .swiper-container .swiper-wrapper img {
    height: 270px;
  }
  .Aboutcrumb {
    padding: 0px;
  }
  .WiIntroduce {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .WiIntroduce p {
    width: 100%;
  }
  .WiIntroduce .Introduce_pic {
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
  }
  .Introduce_way {
    flex-wrap: wrap;
    div {
      padding-top: 30px;
    }
  }
} /* iPad */
@media (min-width: 414px) and (max-width: 767px) {
  .WiHeader .swiper-container .swiper-wrapper img {
    height: 320px;
  }

  .WiIntroduce {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .WiIntroduce p {
    width: 100%;
  }
  .WiIntroduce .Introduce_pic {
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
  }
  .Introduce_way {
    flex-wrap: wrap;
    div {
      padding-top: 30px;
    }
  }
} /* iPad mini & iphone */
@media (min-width: 374px) and (max-width: 413px) {
  .WiHeader .swiper-container .swiper-wrapper img {
    height: 300px;
  }
} /* iphone */
@media screen and (max-width: 373px) {
} /* iphone */
