@import './variables';
.WiRWD {
  display: none;
}
.WiHeader {
  .swiper-container {
    // border: red solid 2px;
    .swiper-wrapper {
      height: 350px;
      > div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        > h1 {
          position: absolute;
          font-size: 48px;
          color: white;
        }
      }
      #Aboutimg3 > h1 {
        color: black;
      }
    }
  }
}
@media screen and (min-width: 1920px) {
}
@media (min-width: 1366px) and (max-width: 1920px) {
} /* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
} /* 電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
} /* iPad */
@media (min-width: 414px) and (max-width: 767px) {
  .WiHeader .swiper-container .swiper-wrapper img {
    height: 350px;
  }
  .WiHeader .swiper-container .swiper-wrapper .Wiheaderimg {
    display: none;
  }
  .AboutgiftCrumb {
    padding: 0px;
  }
  .WiRWD {
    display: block;
  }
} /* iPad mini & iphone */
@media (min-width: 374px) and (max-width: 413px) {
} /* iphone */
@media screen and (max-width: 373px) {
} /* iphone */
.Aboutcrumb {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}
.WiIntroduce {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  //   border: red solid 2px;
  > p {
    width: 40%;
    font-size: 14px;
    line-height: 28px;
    // padding: 50px;
  }
  .Introduce_pic {
    display: flex;
    align-items: center;
    width: 50%;
    > img {
      width: 50%;
    }
  }
}
.Introduce_fashion {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: green solid 2px;
  img {
    border-radius: 50%;
    width: 300px;
    padding: 30px;
  }
  p {
    text-align: center;
    font-size: 16px;
  }
}
.Introduce_way {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  div {
    padding-left: 50px;
    .Wipway {
      font-size: 45px;
    }
  }

  //   align-items: center;
}
