@import './variables';
@import '../../../node_modules/swiper/swiper.scss';

/* ============================== 共用 ============================== */
.blog-d-flex {
  display: flex;
}
.blog-fill {
  object-fit: fill;
}
.blog-contain {
  object-fit: contain;
}
.blog-cover {
  object-fit: cover;
}
.blog-none {
  object-fit: none;
}
.blog-justify-content-between {
  justify-content: space-between;
}
/* ============================== 自訂 ============================== */

/* 其他 */
.blog-standard-spacing {
  height: 90px;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: #000000;
}

/* ---------- top ---------- */
.wrap-top {
  width: 100%;
  .carouselWall-blog {
    margin-left: 50px;
    margin-right: 50px;
    // border: 3px solid red;
    .imageWall-blog {
      width: 100%;
      height: 100%;
      background: $bg-btn-l;
      .wallFig {
        width: 100%;
        height: 100%;
        margin: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .slideWall {
      width: 100%;
      height: 300px;
      background-image: url(../img/blog-img/blog-standard/slider-background.png);
      background-repeat: no-repeat;
      // background-size: 250px;
      // background-color: rgba(200, 200, 200, 0.1);
      // opacity: 0.3;
      // border: 2px solid black;
      .slides {
        width: 100%;
        // margin: 0 auto;
        height: 100%;
        transform: translateY(-30%);
        // border: 1px solid red;
        // overflow: hidden;
        // border: 3px solid green;
        // background-color: rgba(0, 0, 0, 0);
        .swiper-container {
          width: 100%;
          height: 100%;
          .swiper-wrapper {
            width: 100%;
            height: 100%;
            .swiper-slide {
              width: 100%;
              text-align: center;
              font-size: 18px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
              transition: all 1s;
              figure {
                width: 60%;
                // height: 100%;
                // overflow: hidden;
                img {
                  width: 100%;
                  height: 100%;
                  // border: 2px solid red;
                }
              }
            }
            .swiper-slide.swiper-slide-active {
              transform: scale(1.6);
              // transform: var(--swiper-theme-color);
              z-index: 2;
            }
          }
        }
        // .slide-images {
        //   opacity: 1;
        // }
      }
    }
  }
  .blog-crumb {
    width: 90%;
    height: 90px;
    margin: 0 auto;
    h5 {
      font-size: $font-size-16;
      line-height: 90px;
      margin-left: 50px;
    }
    Link {
      font-size: $font-size-16;
      line-height: 90px;
      margin-left: 50px;
      border: 1px solid red;
    }
  }
}

/* ---------- mid ---------- */
.wrap-mid {
  width: 90%;
  margin: 0 auto;
  .blog {
    width: 100%;
    /* ---------- main ---------- */
    .blog-main {
      width: 80%;
      .blog-wellcome {
        width: 100%;
        h2 {
          text-align: center;
          font-size: $font-size-24;
          font-weight: $font-w;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 20px;
        }
      }
      .blog-btns {
        width: 100%;
        height: 64px;
        line-height: 60px;
        margin-top: 40px;
        margin-bottom: 40px;
        border-top: 2px solid $btn-color-r;
        border-bottom: 2px solid $btn-color-r;

        .blog-btns-left {
          .blog-btns-left-Link {
            text-decoration: none;
            margin-left: 40px;
            font-size: $font-size-24;
            font-weight: $font-w;
            color: $btn-color-r;
            background: $bg-theme;
          }
          .blog-btns-left-Link-disable {
            display: none;
          }
          .blog-btns-left-Link:hover {
            cursor: pointer;
          }
        }
        .blog-btns-right {
          position: relative;
          select {
            // position: absolute;
            width: 10rem;
            height: 60%;
            top: 50%;
            transform: translate(-120%, -50%);

            // margin-top: 2.5%;
            color: $btn-color-r;
            font-size: $font-size-16;
            font-weight: $font-w;
            border: 2px solid $btn-color-r;
            border-radius: 10px;
            // margin-right: 40px;
            line-height: $font-size-16;
            text-align: center;
            text-align-last: center;
            option {
              color: $btn-color-r;
              font-weight: $font-w;
              text-align: center;
            }
          }
          .s1 {
            transform: translate(-240%, -50%);
          }
          figure {
            position: relative;
            margin-right: 80px;
            height: 100%;
            img {
              position: absolute;
              width: 2rem;
              top: 50%;
              left: 0px;
              transform: translateY(-50%);
              color: $btn-color-r;
            }
          }

          select:hover,
          figure:hover,
          select > option:hover {
            cursor: pointer;
          }
        }
      }

      .blog-list {
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;

        .blog-card {
          width: 25%;
          padding: 0 20px;
          margin-bottom: 60px;
          .blog-card-in {
            padding-bottom: 10px;
            box-shadow: 3px 5px 10px $border-color-l;
            .blog-card-fig {
              // position: absolute;
              width: 100%;
              height: 200px;
              img {
                width: 100%;
                height: 95%;
              }
            }
            .blog-card-btns {
              line-height: $icon-size-24;
              figure {
                width: 32px;
                height: 32px;
                border: 1px solid $btn-color-l;
                text-align: center;
                background: $bg-c;
                margin: 0 10px;
                padding: 0;
                img {
                  width: 80%;
                  height: 80%;
                }
              }
              figure:hover {
                cursor: pointer;
              }
            }
            .blog-card-title {
              width: 93%;
              margin-bottom: 0;
              font-size: $font-size-24;
              color: $font-color-s;
              font-weight: $font-w;
              text-align: center;
              margin: 0 auto;
              p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 10px auto;
              }
            }
            .blog-card-content {
              width: 90%;
              margin: 0 auto;
              font-size: $font-size-16;
              color: $font-color-s;
              // height: 55px;
              border-top: 1px solid gray;
              padding-top: 10px;
              margin-top: 10px;
              p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                word-wrap: break-word;
              }
            }
            .blog-card-calendar {
              position: absolute;
              width: 25%;
              height: 20%;
              top: 0px;
              left: 40px;
              background: $bg-c;
              transform: translateY(-30%);
              /* z-index: 20; */
              text-align: center;
              .blog-card-calendar-in {
                position: absolute;
                width: 90%;
                height: 90%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding-top: 10%;
                color: $bg-c;
                background: $border-color-l;
                h2 {
                  position: absolute;
                  font-size: $font-size-24;
                  color: $font-color-w;
                  top: 35%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
                h5 {
                  position: absolute;
                  font-size: $font-size-16;
                  color: $font-color-w;
                  top: 75%;
                  left: 50%;
                  width: $icon-size-45;
                  transform: translate(-50%, -50%);
                }
              }
            }
            .read-more {
              position: absolute;
              top: 35%;
              left: 50%;
              transform: translate(-50%, -50%);

              .read-more-btn {
                width: 100px;
                height: 45px;
                font-size: $font-size-16;
                background: rgba(0, 0, 0, 0.4);
                color: $bg-btn-s;
                border: 2px solid $bg-btn-s;
                border-radius: 5px;
              }
              .read-more-btn:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      .blog-standard-pages {
        width: 90%;
        height: 60px;
        margin: 0 0 20px 15px;
        text-align: center;
        .all-blog-page-list {
          // width: 100%;
          height: 100%;
          .round-effect {
            color: #211e55;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 9px;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            margin: 5px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            text-decoration: none;
          }

          .round-effect:hover {
            text-decoration: none;
            background: #211e55;
            color: #fff;
          }
          .round-effect:hover a {
            text-decoration: none;
            color: #fff;
          }
          .activepage {
            background: #211e55;
            color: #fff;
          }
        }
        // .pages,
        // .mores,
        // .prev-page,
        // .next-page {
        //   width: 3%;
        //   margin: 1% 1% 1% 0;
        //   font-size: $font-size-16;
        //   font-weight: $font-w;
        //   line-height: 32px;
        //   color: $font-color-s;
        // }
        // .prev-page {
        //   position: relative;
        //   background-repeat: no-repeat;
        // }
        // .next-page {
        //   position: relative;
        //   background-repeat: no-repeat;
        // }
        // .prev-page img,
        // .next-page img {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   width: 35%;
        // }
        // .pages:hover,
        // .mores:hover,
        // .prev-page:hover,
        // .next-page:hover {
        //   width: 3%;
        //   margin: 1% 1% 1% 0;
        //   line-height: 32px;
        //   color: $font-color-w;
        //   background: $link-hover-color-s;
        //   cursor: pointer;
        // }
        // .pages:active,
        // .mores:active,
        // .prev-page:active,
        // .next-page:active {
        //   color: $font-color-m;
        //   background: $link-hover-color-l;
        //   cursor: pointer;
        // }
        // .prev-page:hover img {
        //   /* width: 35%; */
        //   /* border-image: url('../img/blog-standard/prev-page-hover.svg'); */
        //   background-image: url('../img/blog-img/blog-standard/prev-page-hover.svg');
        //   background-repeat: no-repeat;
        // }
        // .next-page:hover img {
        //   /* width: 35%; */
        //   background-image: url('../img/blog-img/blog-standard/next-page-hover.svg');
        //   background-repeat: no-repeat;
        // }
      }
    }
    /* ---------- aside ---------- */
    .blog-aside {
      width: 20%;
      height: 100%;
      .post-map {
        width: 90%;
        margin: 0 0 0 10%;
        text-align: center;
        .i-want-post {
          width: 90%;
          margin: 0 auto;
          line-height: 32px;
          color: $font-color-x;
          background: $btn-color-s;
        }
        .i-want-post:hover {
          cursor: pointer;
        }
        figure {
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0);
          img {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0);
          }
        }
      }
      .user-icon {
        width: 90%;
        margin: 20px 0 0 10%;
        text-align: center;
        align-content: center;
        h2 {
          font-size: $font-size-16;
          margin: 20px auto;
        }
        .user-icon-fig {
          width: 250px;
          height: 250px;
          margin: 0 auto;
          background: $bg-btn-l;

          img {
            width: 100%;
          }
        }
        .link-btns {
          width: 100%;
          margin: 20px 0;
          .link-one-btn {
            width: 33.33%;
            text-align: center;
            .linkFB,
            .linkIG,
            .linkLINE {
              width: 70%;
              height: 70%;
              margin: 0 auto;
              img {
                width: 100%;
                height: 100%;
              }
            }
            h2 {
              font-size: $font-size-12;
            }
          }
        }
      }
      .link-subscribe {
        width: 90%;
        margin: 60px 0 0 10%;
        .link-subscribe-border {
          width: 90%;
          margin: 0 auto;
          border: 1px solid $btn-color-r;
          h5 {
            margin: 20px auto;
            text-align: center;
          }
          .link-subscribe-in {
            width: 90%;
            line-height: 32px;
            margin: 20px auto;
            input {
              width: 80%;
              text-align: center;
              border: 1px solid $btn-color-r;
            }
            button {
              width: 15%;
              border: 1px solid $btn-color-l;
              background: $btn-color-r;
              img {
                width: 40%;
              }
            }
          }
        }
      }
      .recent-post {
        width: 90%;
        height: 400px;
        margin: 60px 0 0 10%;
        .recent-post-in {
          width: 90%;
          margin: 0 auto;
          h2 {
            font-size: $font-size-16;
            margin: 20px 0;
          }
          .recent-post-in-one {
            margin-bottom: 20px;
            .recent-post-in-one-img {
              width: 100px;
              height: 100px;
              border: 1px solid $border-color-l;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .recent-post-in-one-img:hover {
              cursor: pointer;
            }
            .recent-post-in-one-txt {
              padding-left: 10px;
              width: calc(100% - 100px);
              .recent-post-in-one-txt-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .recent-post-in-one-txt-title:hover {
                cursor: pointer;
              }
              .recent-post-in-one-txt-date {
                margin-top: 10px;
                font-size: $font-size-16;
                color: $font-color-m;
              }
            }
          }
        }
      }
    }
  }
}

/* 版本尺寸 */
@media screen and (min-width: 1920px) {
}

/* 電腦 */
@media (min-width: 1366px) and (max-width: 1920px) {
}
/* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
}
/* iPad */
@media (min-width: 768px) and (max-width: 1023px) {
}
/* iPad mini & iphone */
@media (min-width: 414px) and (max-width: 767px) {
  /* ---------- top ---------- */
  .wrap-top {
    width: 100%;
    .carouselWall-blog {
      margin-left: 20px;
      margin-right: 20px;
      border: 3px solid red;
      .imageWall-blog {
        // width: 100%;
        // height: 100%;
        // background: $bg-btn-l;
        // .wallFig {
        //   width: 100%;
        //   height: 100%;
        //   img {
        //     width: 100%;
        //     height: 100%;
        //   }
        // }
      }
      .slideWall {
        .slides {
          .slide-images {
          }
        }
      }
    }
    .blog-crumb {
      width: 100%;
      height: 90px;
      margin-left: 5%;
      h5 {
        font-size: $font-size-16;
        line-height: 90px;
        margin-left: 50px;
      }
      Link {
        font-size: $font-size-16;
        line-height: 90px;
        margin-left: 50px;
        border: 1px solid red;
      }
    }
  }
  /* ---------- mid ---------- */
  .wrap-mid {
    width: 100% !important;
    .blog {
      display: block;
      /* ---------- main ---------- */
      .blog-main {
        width: 100%;
        .blog-wellcome {
          h2 {
          }
        }
        .blog-btns {
          .blog-btns-left {
            .blog-btns-left-Link {
              font-size: 16px;
            }
            .blog-btns-left-Link:hover {
            }
          }
          .blog-btns-right {
            select {
              font-size: 12px;
              option {
              }
            }
            .s1 {
            }
            figure {
              img {
              }
            }

            select:hover,
            figure:hover,
            select > option:hover {
            }
          }
        }

        .blog-list {
          .blog-card {
            width: 50%;
            .blog-card-in {
              .blog-card-fig {
                img {
                }
              }
              .blog-card-title {
                width: 90%;
                height: 50px;
                -webkit-line-clamp: 1;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
                margin: 0 auto;
              }

              .blog-card-content {
              }
              .blog-card-calendar {
                .blog-card-calendar-in {
                  h2 {
                  }
                  h5 {
                  }
                }
              }
              .read-more {
                .read-more-btn {
                }
                .read-more-btn:hover {
                }
              }
            }
          }
        }

        .blog-standard-pages {
          margin: 0 0 20px 20px;
          .all-blog-page-list {
          }
          .pages,
          .mores,
          .prev-page,
          .next-page {
          }
          .prev-page {
          }
          .next-page {
          }
          .prev-page img,
          .next-page img {
          }
          .pages:hover,
          .mores:hover,
          .prev-page:hover,
          .next-page:hover {
          }
          .pages:active,
          .mores:active,
          .prev-page:active,
          .next-page:active {
          }
          .prev-page:hover img {
          }
          .next-page:hover img {
          }
        }
      }
      /* ---------- aside ---------- */
      .blog-aside {
        width: 100%;
        .post-map {
          margin: 0 auto;
          .i-want-post {
          }
          .i-want-post:hover {
            cursor: pointer;
          }
          figure {
            img {
            }
          }
        }
        .user-icon {
          margin: 0 auto;
          .user-icon > h2 {
          }
          .user-icon-fig {
            width: 50vw;
            height: 50vw;
            img {
            }
          }
          .link-btns {
            .link-one-btn {
              .linkFB,
              .linkIG,
              .linkLINE {
                img {
                }
              }
              h2 {
              }
            }
          }
        }
        .link-subscribe {
          margin: 0 auto;
          .link-subscribe-border {
            h5 {
            }
            .link-subscribe-in {
              input {
              }
              button {
                img {
                }
              }
            }
          }
        }
        .recent-post {
          margin: 0 auto;
          .recent-post-in {
            h2 {
            }
            .recent-post-in-one {
              .recent-post-in-one-img {
                width: 15vw;
                height: 15vw;
                img {
                }
              }
              .recent-post-in-one-img:hover {
              }
              .recent-post-in-one-txt {
                .recent-post-in-one-txt-title {
                }
                .recent-post-in-one-txt-title:hover {
                }
                .recent-post-in-one-txt-date {
                }
              }
            }
          }
        }
      }
    }
  }
}
/* iphone */
@media (min-width: 374px) and (max-width: 413px) {
}
/* iphone */
@media screen and (max-width: 373px) {
}
