@import './variables';

/* ============================== 共用 ============================== */
.blog-d-flex {
  display: flex;
}
.blog-fill {
  object-fit: fill;
}
.blog-contain {
  object-fit: contain;
}
.blog-cover {
  object-fit: cover;
}
.blog-none {
  object-fit: none;
}
.blog-justify-content-between {
  justify-content: space-between;
}

/* ============================== 自訂 ============================== */

/* 間距<div> */
.blog-add-spacing {
  height: 90px;
}

/* ---------- top ---------- */
.wrap-top {
  width: 100%;
  .blog-crumb {
    width: 90%;
    height: 90px;
    margin: 0 auto;
    h5 {
      font-size: $font-size-16;
      line-height: 90px;
      margin-left: 50px;
    }
    Link {
      font-size: $font-size-16;
      line-height: 90px;
      margin-left: 50px;
    }
  }
}

/* ---------- mid ---------- */
.wrap-mid {
  width: 90%;
  margin: 0 auto;
  .blog-add {
    width: 100%;
    /* ---------- main ---------- */
    .blog-add-main {
      width: 80%;
      border: 1px solid $border-color-s;
      box-shadow: 5px 5px 10px rgb(56, 56, 56);
      .blog-add-top-img {
        width: 100%;
        height: 193px;
        background: $bg-btn-l;
        h1 {
          font-size: $font-size-24;
          color: $font-color-w;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .blog-add-in {
        width: 96%;
        margin: 0 auto;
        h1 {
          font-size: $font-size-24;
          margin-top: 1rem;
        }
        .underline-1 {
          width: 7.5rem;
          margin-bottom: 2rem;
          border-bottom: 2px solid $btn-color-r;
        }
        .title-h2 {
          font-size: $font-size-16;
          margin-top: 1.5rem;
          margin-bottom: 0.5rem;
        }
        .first-h2 {
          font-size: $font-size-16;
          margin-top: 1.5rem;
          margin-bottom: 0.5rem;
        }
        .input-title {
          width: 100%;
          height: 32px;
          border: 1px solid $border-color-l;
        }
        textarea {
          width: 100%;
          border: 1px solid $border-color-l;
          margin-bottom: 1rem;
          height: 100px;
        }
        .btn-and-info {
          position: relative;
          .btn-and-info-input {
            /* width: 100px; */
            height: 32px;
            /* line-height: 45px; */
            margin-top: 1rem;
            /* margin-bottom: .5rem; */
          }
          .blog-add-info {
            position: relative;
            width: 50px;
            height: 28px;
            margin-top: 1rem;
            margin-right: 20px;
            border: 1px solid $btn-color-r;
            border-radius: 8px;
            text-align: center;
            color: black;
            overflow: hidden;
            h5 {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              color: blue;
              font-weight: $font-w;
              z-index: 5;
              // border: 1px solid gray;
            }
            .add-box {
              transition: 0.5s;
              width: 100%;
              height: 100%;
              // background: grey;
              transform: translateX(-50px);
            }
            .add-box.active {
              transition: 1s;
              background: orange;
              transform: translateX(0px);
            }
          }
          h6 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);
          }
        }

        .second-h2 {
          font-size: $font-size-16;
          margin-top: 2.5rem;
          margin-bottom: 0.5rem;
        }
        input {
        }
        .upload-imgs {
          width: 100%;
          border: 1px solid $border-color-l;
          .drags {
            width: 100%;
            .dragImg {
              width: 33%;
              height: 200px;
              margin: 5px auto;
              border: 1px solid $border-color-l;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .blog-add-submit {
          width: 100px;
          height: 45px;
          border: 1px solid $border-color-l;
          border-radius: 10px;
          margin: 10px 0;
        }
        .blog-add-submit:hover {
          cursor: pointer;
        }
      }
    }
    /* ---------- aside ---------- */
    .blog-add-aside {
      width: 20%;
      height: 100%;
      .post-map {
        width: 90%;
        margin: 0 0 0 10%;
        text-align: center;
        .i-want-post {
          width: 90%;
          margin: 0 auto;
          line-height: 32px;
          color: $font-color-x;
          background: $btn-color-s;
        }
        .i-want-post:hover {
          cursor: pointer;
        }
        figure {
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0);
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .user-icon {
        width: 90%;
        margin: 20px 0 0 10%;
        text-align: center;
        align-content: center;
        h2 {
          font-size: $font-size-16;
          margin: 20px auto;
        }
        .user-icon-fig {
          width: 250px;
          height: 250px;
          margin: 0 auto;
          background: $bg-btn-l;
          img {
            width: 100%;
          }
        }
      }
      .link-btns {
        width: 100%;
        margin: 20px 0;
        .link-one-btn {
          width: 33.33%;
          text-align: center;
          .linkFB,
          .linkIG,
          .linkLINE {
            width: 70%;
            height: 70%;
            margin: 0 auto;
            img {
              width: 100%;
              height: 100%;
            }
          }
          h2 {
            font-size: $font-size-12;
          }
        }
      }
    }
  }
}
