@import '../scss/_variables.scss';
.cart-crumb {
  margin-left: 6px;
  div {
    height: 100px;
  }
}
.cart-container {
  max-width: 980px;
  margin: 100px auto 130px auto;
  padding: 20px;
  background: $bg-c;
  border-radius: 5px;
  box-shadow: 1px 1px #ddd;
  .cart-table {
    width: 100%;
    border: 1px solid transparent;
    border-collapse: collapse;
    text-align: center;
    thead {
      tr {
        display: flex;
        line-height: 45px;
        border-bottom: 1px solid $bg-btn-l;
        th {
          width: 100%;
        }
      }
    }
    tbody {
      tr {
        display: flex;
        width: 100%;
        line-height: 60px;
        border-bottom: 1px solid $bg-btn-l;
        td {
          width: 100%;
          text-align: center;
          img {
            overflow: hidden;
            height: 3.5rem;
            margin-top: 2px;
          }
          input {
            max-width: 50px;
            line-height: 0px;
            border: 1px solid $bg-btn-l;
          }
        }
        .function {
          display: flex;
          vertical-align: middle;
          button {
            display: block;
            width: 50%;
            height: 60px;
            margin: 2px 1px;
            border-radius: 5px;
          }
        }
      }
    }
    tfoot {
      tr {
        td {
          display: flex;
          justify-content: flex-end;
          line-height: 45px;
          margin-top: 10px;
          vertical-align: middle;
          input {
            border: 1px solid $bg-btn-l;
          }
          button {
            background: $link-hover-color-s;
            color: white;
            padding: 3px 5px;
            height: 45px;
            width: 200px;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
