@import '../scss/_variables.scss';
//麵包屑
.cart-crumb {
  margin-left: 6px;
  div {
    height: 100px;
  }
}
//購物車
.cart-container {
  max-width: 980px;
  margin: 100px auto 130px auto;
  padding: 20px;
  background: $bg-c;
  border-radius: 5px;
  box-shadow: 1px 1px #ddd;
  .cart-table {
    width: 100%;
    border: 1px solid transparent;
    border-collapse: collapse;
    text-align: center;
    thead {
      tr {
        display: flex;
        line-height: 45px;
        border-bottom: 1px solid $bg-btn-l;
        th {
          width: 100%;
        }
      }
    }
    tbody {
      tr {
        display: flex;
        width: 100%;
        line-height: 60px;
        border-bottom: 1px solid $bg-btn-l;
        td {
          width: 100%;
          text-align: center;
          img {
            overflow: hidden;
            height: 3.5rem;
            margin-top: 2px;
          }
          input {
            max-width: 50px;
            line-height: 0px;
            border: 1px solid $bg-btn-l;
          }
        }
        .function {
          display: flex;
          vertical-align: middle;
          button {
            display: block;
            width: 50%;
            height: 60px;
            margin: 2px 1px;
            border-radius: 5px;
          }
        }
      }
    }
    tfoot {
      tr {
        td {
          display: flex;
          justify-content: flex-end;
          line-height: 45px;
          margin-top: 10px;
          vertical-align: middle;
          input {
            border: 1px solid $bg-btn-l;
          }
          button {
            background: $link-hover-color-s;
            color: white;
            padding: 3px 5px;
            height: 45px;
            width: 200px;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
//購買個人資料填寫
.cart-buyerInfo-form {
  width: 100%;
  > div {
    display: flex;
    > div {
      width: 100%;
      > div {
        margin: 10px 0;
        label {
          font-size: $font-size-16;
        }
        input {
          width: 95%;
          line-height: 45px;
          border: 1px solid #aaa;
        }
        textarea {
          width: 95%;
          border: 1px solid #aaa;
        }
        .error {
          font-size: $font-size-12;
          color: $btn-color-r;
        }
      }
    }
    button {
      width: 200px;
      height: 45px;
      margin: 40px 0 80px 0;
      border-radius: 3px;
      background: $link-hover-color-s;
      color: white;
    }
  }
}
//選擇配送方式

.cart-step-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 60px auto;
  li {
    color: #adadad;
    font-size: 50px;
    /* width: 100px; */
    text-align: center;
    padding: 0 10px;
    p {
      font-size: 20px;
    }
  }
  .doneColor {
    color: $btn-color-s;
  }
  .line {
    width: 100px;
    height: 6px;
    background: $bg-btn-l;
  }
  .done {
    background: $btn-color-s;
  }
}

.delivery-form {
  font-size: 20px;
}
.delivery-form input {
  margin: 30px 0 15px 0;
  -webkit-appearance: auto;
}
.delivery-form .line {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background: #adadad;
}
.delivery-form button {
  width: 200px;
  height: 45px;
  margin: 40px 0 80px 0;
  padding: 3px 5px;
  border-radius: 3px;
  color: #fff;
  background: $link-hover-color-s;
}
