@import './variables.scss';
main {
  .MyCom_container {
    width: 80%;
    margin: 0px auto;
    padding-top: 150px;

    .MyCom_select {
      display: flex;
      justify-content: space-between;
      line-height: 45px;
      a {
        font-size: 14px;
        color: $font-color-s;
      }
      select {
        color: $font-color-s;
        border: 1px solid $font-color-s;
        width: 180px;
        height: 45px;
        text-align: center;
        text-align-last: center;
        background: transparent;
        option {
          background: #f4f4f5;
        }
      }
    }
    .MyCom_list {
      overflow: hidden;
      overflow-x: auto;
      .MyCom_pwa_r_inner {
        display: flex;
        margin: 15px 0;
        .comparecard_decoration {
          //   border: 1px solid #707070;
          //   border-radius: 5px;
          //   width: 400px;
          display: flex;
        }

        .sty-1 {
          display: flex;
          flex-direction: column;
        }
        .comparecard_content_decoration {
          //   border: 1px solid #707070;
          display: flex;
          //   padding: 0 5px;
          width: 150px;
          //   .context-adjust {
          h1 {
            font-weight: bold;
            color: #2c3e50;
            width: 150px;
            // border-top: 1px solid #000;
            border-bottom: 1px solid #e4e1e1;
            text-align: center;
            height: 5vh;
            line-height: 5vh;
            margin: 0;
          }
          //   }
        }
        li:nth-child(even) {
          background-color: #f3f4ed;
        }
        li {
          //   justify-content: space-between;
          margin: 10px 0;
          padding: 20px 0;
          //   border-bottom: 1px solid #adadad;
          //   align-items: center;
          span {
            padding: 0 16px;
            align-self: flex-end;
            margin: -15px 20px 0px;
            font-size: 30px;
          }
          .MyCom_card {
            width: 100%;
            .MyCom_item {
              display: flex;
              align-items: center;
              flex-direction: column;
              text-align: center;
              .compareImg {
                height: 106px;
                img {
                  width: 100px;
                  height: 99px;
                }
              }
              h3 {
                // padding-left:42px;
                font-weight: bold;
                // padding: 0 16px;
                border-bottom: 1px solid #e4e1e1;
                width: 100%;
                height: 5vh;
                line-height: 5vh;
                margin: 0;
              }
            }
          }
          h4 {
            font-weight: bold;
            // padding-left: 800px;
            padding-left: 12px;
            // padding: 0 15vw;
            text-align: center;
            width: 100%;
            border-bottom: 1px solid #e4e1e1;
            height: 5vh;
            line-height: 5vh;
            margin: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
          .MyCom_card_button {
            align-items: center;
            .MyCom_update {
              text-align: center;
              line-height: 45px;
              color: #211e55;
              margin-top: 10px;
            }
            .MyCom_btn_style {
              width: 128px;
              height: 45px;
              margin: 3px 3px;
              background: transparent;
              border: 1px solid $btn-color-l;
              background: transparent;
              cursor: pointer;
              transition: 0.3s ease-in;
              &:hover {
                background: $btn-color-l;
                color: #fff;
              }
            }
          }
        }
        .loveError {
          width: 98%;
          margin: 0 auto;
          text-align: center;
          p {
            color: #8b8b8b;
            border-bottom: 1px solid #a4a4a4;
            padding-bottom: 10px;
          }
          button {
            width: 200px;
            height: 45px;
            margin-left: 5px;
            border: 1px solid #211e55;
            text-align: center;
            color: #fff;
            background: #211e55;
            transition: 0.3s ease-in;
            cursor: pointer;
            &:hover {
              background: #fff;
              color: $btn-color-l;
            }
            .button-a {
              display: block;
              width: 200px;
              height: 45px;
              line-height: 45px;
              margin-left: -5px;
              text-align: center;
              color: #fff;
              cursor: pointer;
              &:hover {
                color: $btn-color-l;
              }
            }
          }
        }
      }
    }
  }
  .page {
    padding-top: 60px;
    text-align: center;
    .ant-pagination-item-active {
      background: #211e55;
      border: #fff;
      a {
        color: #fff;
      }
    }
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  main {
    .MyCom_container {
      width: 90%;
      .MyCom_list {
        overflow: hidden;
        overflow-x: auto;
      }
    }
  }
} /* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
  main {
    .MyCom_container {
      width: 90%;
      margin: 0 auto;
      padding-top: 150px;
      .MyCom_list {
        overflow: hidden;
        overflow-x: auto;
      }
    }
  }
} /* 電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    .MyCom_container {
      width: 90%;
      margin: 0 auto;
      padding-top: 170px;
      .MyCom_list {
        overflow: hidden;
        overflow-x: auto;
      }
    }
  }
} /* iPad */
@media (min-width: 414px) and (max-width: 767px) {
  main {
    .MyCom_container {
      max-width: 100%;
      margin: 0 auto;
      padding-top: 170px;
      .MyCom_select {
        width: 105%;
        margin: 0 auto;
      }
      .MyCom_list {
        overflow: hidden;
        overflow-x: auto;
      }
      .MyCom_select {
        // padding: 0 10px;
        padding-left: 25px;
        .MyCom_Crumb {
          // display: none;
        }
      }
    }
  }
}
@media (max-width: 375px) {
  main {
    .MyCom_container {
      max-width: 375px;
      margin: 0 auto;
      padding-top: 170px;
      .MyCom_list {
        display: flex;
        margin: 15px 0;
        overflow: hidden;
        overflow-x: auto;
      }
      .MyCom_select {
        // padding: 0 10px;
        padding-left: 25px;
        .MyCom_Crumb {
          // display: none;
        }
      }
    }
  }
}
