@import "./variables";
@import "./mixins";

.ig_inner_all {
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    .true_title {
        text-align: center;
        margin: 95px 0;
        h2 {
            font-size: 36px;
            color: $font-color-s;
            margin: 0;
        }
        p {
            font-weight: 300;
            color: $font-color-s;
            letter-spacing: 1px;
        }
    }
    .ig {
        ul{
            @include flex();
            flex-wrap: wrap;
            li{
                width: 25%;
                position: relative;
                a {
                    .imgCover {
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(33, 30, 85, 0.5);
                        transition: 0.3s ease-in;
                        @include flex();
                        i {
                            font-size: 2rem;
                            color: #fff;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
                &:hover a .imgCover{
                    opacity: 1;
                }
            }
        }
    }
}

/* 版本尺寸 */
@media screen and (min-width: 1920px){}
@media (min-width:1366px) and (max-width:1920px){

} /* 電腦 */
@media (min-width:1024px) and (max-width:1365px){
    .ig_inner_all {
        width: 90%;
    }
} /* 電腦 */
@media (min-width:768px) and (max-width:1023px){
    .ig_inner_all .ig ul {
        flex-wrap: wrap;
    }
    .ig_inner_all {
        width: 90%;
    }
    .ig_inner_all .ig ul li {
        width: 50%;
    }
} /* iPad */
@media (min-width:414px) and (max-width:767px){
    .ig_inner_all .ig ul {
        flex-wrap: wrap;
    }
    .ig_inner_all {
        width: 95%;
    }
    .ig_inner_all .ig ul li {
        width: 50%;
    }
} /* iPad mini & iphone */
@media (min-width:374px) and (max-width:413px){
    .ig_inner_all .ig ul {
        flex-wrap: wrap;
    }
    .ig_inner_all {
        width: 95%;
    }
    .ig_inner_all .ig ul li {
        width: 50%;
    }
} /* iphone */
@media screen and (max-width: 373px){
    .ig_inner_all .ig ul {
        flex-wrap: wrap;
    }
    .ig_inner_all {
        width: 95%;
    }
    .ig_inner_all .ig ul li {
        width: 50%;
    }
}/* iphone */