@import "./variables";

.MyHotTrue {
    position: relative;
    color: $font-color-w;
    .true_title {
        background: url(../img/true.png);
        height: 500px;
        text-align: center;
        padding-top: 100px;
        h2 {
            font-size: 36px;
            color: $font-color-w;
            margin: 0;
        }
        p {
            font-weight: 300;
            color: $font-color-w;
            letter-spacing: 1px;
        }
    }
    
    .true_items {
        position: absolute;
        bottom: calc(50% - 650px);
        left: calc(50% - 40%);
        width: 80%;
        margin: 0 auto;
        .swiper-container {
            // height: 500px;
            .swiper-wrapper {
                height: 100%;
                .true_items_inner {
                    padding:12px 6px;
                    .true_items_card {
                        border-radius: 14px;
                        text-align: center;
                        background: $bg-theme;
                        transition: .3s ease-in;
                        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
                        &:hover {
                            background: rgb(255, 255, 255);
                            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
                        }
                        h3{
                            font-size: $font-size-24;
                            color: $font-color-s;
                            margin: 0;
                            padding-top: 24px;
                        }
                        img{
                            width: 85%;
                            margin-bottom: 32px;
                        }
                        ul {
                            width: 85%;
                            margin: 0 auto;
                            padding: 32px 0;
                            border-top: 1px dashed $bg-btn-l;
                            text-align: left;
                            li {
                                color: $font-color-s;
                                i {
                                    font-size: 20px;
                                    margin-right: 16px;
                                    color: $btn-color-s;
                                }
                            }
                        }
                    }
        
                }
            }
            
        }
    }

    .true_items_mobile {
        display: none;
    }
}
section {
    height: 500px;
}

/* 版本尺寸 */
@media screen and (min-width: 1920px){}
@media (min-width:1366px) and (max-width:1920px){
    // .MyHotTrue .true_items {
    //     bottom: calc(50% - 450px);
    // }
} /* 電腦 */
@media (min-width:1024px) and (max-width:1365px){
    .MyHotTrue .true_items {
        width: 90%;
        bottom: calc(50% - 450px);
        left: calc(50% - 45%);
    }
    section {
        height: 250px;
    }
} /* 電腦 */
@media (min-width:768px) and (max-width:1023px){
    .true_items {
        display: none;
    }
    .true_items_mobile {
        display: block !important;
    }
    .MyHotTrue .true_items {
        width: 95%;
        bottom: calc(50% - 610px);
        left: calc(50% - 48%);
    }
    section {
        height: 450px;
    }
} /* iPad */
@media (min-width:414px) and (max-width:767px){
    .true_items {
        display: none;
    }
    .MyHotTrue .true_items {
        bottom: calc(50% - 520px);
        width: 98%;
        left: calc(50% - 49%);
    }
    .true_items_mobile {
        display: block !important;
    }
    .MyHotTrue .true_title {
        height: 400px;
        background-size: cover;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner {
        padding: 6px 3px;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner .true_items_card img {
        margin-bottom: 16px;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner .true_items_card ul {
        width: 90%;
        padding: 10px 0;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner .true_items_card ul li {
        font-size: 12px;
    }
    section {
        height: 380px;
    }
} /* iPad mini & iphone */
@media (min-width:374px) and (max-width:413px){
    .true_items {
        display: none;
    }
    .MyHotTrue .true_items {
        bottom: calc(50% - 520px);
        width: 98%;
        left: calc(50% - 49%);
    }
    .true_items_mobile {
        display: block !important;
    }
    .MyHotTrue .true_title {
        height: 400px;
        background-size: cover;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner {
        padding: 6px 3px;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner .true_items_card img {
        margin-bottom: 16px;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner .true_items_card ul {
        width: 90%;
        padding: 10px 0;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner .true_items_card ul li {
        font-size: 12px;
    }
    section {
        height: 380px;
    }
} /* iphone */
@media screen and (max-width: 373px){
    .true_items {
        display: none;
    }
    .MyHotTrue .true_items {
        bottom: calc(50% - 520px);
        width: 98%;
        left: calc(50% - 49%);
    }
    .true_items_mobile {
        display: block !important;
    }
    .MyHotTrue .true_title {
        height: 400px;
        background-size: cover;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner {
        padding: 6px 3px;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner .true_items_card img {
        margin-bottom: 16px;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner .true_items_card ul {
        width: 90%;
        padding: 10px 0;
    }
    .MyHotTrue .true_items .swiper-container .swiper-wrapper .true_items_inner .true_items_card ul li {
        font-size: 12px;
    }
    section {
        height: 380px;
    }
}/* iphone */
