@import "./variables";
@import "./mixins";

main {
    .members_all {
        .members_right {
            width: 75%;
            background-color: $bg-c;
            position: relative;
            &::before {
                content: '1';
                position: absolute;
                bottom: 0;
                right: 0;
                display: block;
                width: 20px;
                height: 20px;
                background: $btn-color-l;
            }
            &::after {
                content: '1';
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 20px;
                height: 20px;
                background: $btn-color-l;
            }
            .members_right_inner {
                padding: 30px;
                .members_r_top_text {
                    height: 122px;
                    border-bottom: 1px solid #e8e9e2;
                    h1 {
                        font-size: 32px;
                    }   
                    p {
                        font-size: 16px;
                        font-weight: 300;
                    }
                }

                // 主要內容
                .members_r_bottom {
                    display: flex;
                    margin-top: 32px;

                    // form 左側表單
                    .r_bottom_left {
                        width: 70%;
                        ul {
                            li {
                                text-align: right;
                                padding-right: 60px;
                                .r_bottom_nodel {
                                    padding-bottom: 8px;
                                    label {
                                        padding-right: 16px;
                                    }
                                }
                                .r_bottom_del {
                                    padding-bottom: 8px;
                                    label {
                                        padding-right: 16px;
                                    }
                                    .ant-picker {
                                        width: 70%;
                                        border: transparent;
                                        border-bottom: 1px solid #e8e9e2;
                                    }
                                    .ant-radio-group {
                                        width: 70%;
                                        text-align: left;
                                    }
                                }
                                .r_bottom_err {
                                    color:$btn-color-r;
                                    opacity: 0;
                                } 
                                .mem_input {
                                    width: 70%;
                                    border-bottom: 1px solid #e8e9e2;
                                }
                                .r_sumbit {
                                    width: 150px;
                                    height: 32px;
                                    border: 1px solid $link-hover-color-l;
                                    background: $link-hover-color-l;
                                    color: #fff;
                                    text-align: center;
                                    margin-top: 32px;
                                    transition: 0.3s ease-in;
                                    cursor: pointer;
                                    &:hover {
                                        background: #fff;
                                        color: $link-hover-color-l;
                                    }
                                }
                            }
                        }
                    }
                    span.iconfont {
                        padding-right: 20px;
                    }
                    .r_bottom_right {
                        width: 30%;
                    }

                    // 右側圖片
                    .r_bottom_right {
                        text-align: center;
                        img {
                            display: block;
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;
                            border: 2px dashed #211e55;
                            margin: 0 auto;
                            padding: 6px;
                        }
                        .ant-upload {
                            margin: 20px auto;
                        }
                        .ant-upload-list {
                            margin: 16px 0;
                            .ant-upload-list-item-info > span {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }   
    }
}

.file-upload {
	position: relative;
    display: inline-block;
    padding: 16px 0;
}

.file-upload__label {
    display: block;
    padding: 6px 12px;
    color: #211e55;
    font-size: 14px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #211e55;
    transition: background .3s;
    
    &:hover {
        cursor: pointer;
        color: #fff;
        background: #211e55;
    }
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}
