@import "./variables";
@import "./mixins";

main {
    .members_all {
        .members_right {
            width: 75%;
            background-color: $bg-c;
            position: relative;
            &::before {
                content: '1';
                position: absolute;
                bottom: 0;
                right: 0;
                display: block;
                width: 20px;
                height: 20px;
                background: $btn-color-l;
            }
            &::after {
                content: '1';
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 20px;
                height: 20px;
                background: $btn-color-l;
            }
            .members_right_inner {
                .members_pwa_r_bottom {
                    form.members_pwa_form {
                        ul.members_pwa_ul {
                            padding: 28px 0;
                            li {
                                margin-bottom: 48px;
                                .r_bottom_del {
                                    label {
                                        font-size: 24px;
                                    }
                                    span.iconfont {
                                        font-size: 24px;
                                        padding-left: 8px;
                                    }
                                    input.mem_input {
                                        width: 100%;
                                        padding-top: 16px;
                                        border-bottom: 1px solid #e8e9e2;
                                    }
                                }
                                .memDel_click {
                                    color: $btn-color-r;
                                }
                            }
                        }
                        .mem_submit {
                            width: 150px;
                            height: 32px;
                            border: 1px solid #211E55;
                            background: #211E55;
                            color: #fff;
                            text-align: center;
                            margin-top: 32px;
                            transition: 0.3s ease-in;
                            cursor: pointer;
                        }
                    }
                    
                }
            }
        }   
    }
}