main {
  .login_container {
    width: 80%;
    margin: 0 auto;
    padding-top:150px ;
    
    .login_Breadcrumb {
      a {
        color: #4e4f97;
      }
    }

    // 登入
    .login_inner {
      display: flex;
      margin-top: 25px;
      margin-bottom: 25px;
      align-items: flex-end;
      h1{
        margin: 0;
      }
      .login_inner_p1 {
        font-size: 2.4rem;
      }
      .login_inner_p2 {
        margin-bottom: 8px;
        a {
          font-size: 16px;
          color: #4e4f97;
          margin-left: 20px;
        }
      }
    }

    // form
    .form_all {
      .login_form {
        .gray {
          font-size: 16px;
          margin-top: 35px;
          margin: 50px 0px 10px 0px;
          color: #707070;
        }
        .login_form_pwa {
          display: flex;
          // margin-top: 30px;
          p {
            a {
              color: #4e4f97;
            }
          }
          align-items: center;
          input{
            -webkit-appearance: auto;
          }
          
          label {
            padding: 0 10px 0 10px;
            margin-right: 20px;
          }
          p{
            margin: 0;
          }
        }
        .login_btn {
          width: 170px;
          height: 42px;
          background: #4e4f97;
          color: #ffffff;
          margin: 40px 0 80px 0;
        }
        .login_btn:hover {
          background: #211e55;
          transition: 0.3s ease-in;
        }
        .input01 {
          border-bottom: 1px solid #70707070;
          width: 100%;
          font-size: 14px;
          color: #a8a8a8;
          background: transparent;
          padding-top: 12px;
        }
        .login_err {
          height: 28px;
          color: #cb4042;
          font-size: 14px;
          padding-top: 6px;
          transition: 0.3s ease-in;
          opacity: 1;
        }
      }
    }
  }
}
