@import './variables.scss';
main {
  .MyFav_container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 150px;

    .MyFav_select {
      display: flex;
      justify-content: space-between;
      line-height: 45px;
      a {
        font-size: 14px;
        color: $font-color-s;
      }
      select {
        color: $font-color-s;
        border: 1px solid $font-color-s;
        width: 180px;
        height: 45px;
        text-align: center;
        text-align-last: center;
        background: transparent;
        option {
          background: #f4f4f5;
        }
      }
    }
    .MyFav_list {
      .MyFav_pwa_r_inner {
        li {
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          padding: 20px 0;
          border-bottom: 1px solid #adadad;
          align-items: center;
          .MyFav_card {
            width: 50%;
            .MyFav_item {
              display: flex;
              align-items: center;
              img {
                width: 86px;
                height: 85px;
              }
              h3 {
                // padding-left:42px;
                font-weight: bold;
                padding: 0 16px;
              }
              span {
                padding: 0 16px;
              }
            }
          }
          h4 {
            font-weight: bold;
            // padding-left: 800px;
            // padding: 0 15vw;
          }
          .MyFav_card_button {
            .MyFav_btn_style {
              width: 128px;
              height: 45px;
              margin: 0 3px;
              border: 1px solid $btn-color-l;
              background: transparent;
              // cursor: pointer;
              transition: 0.3s ease-in;
              &:hover {
                background: $btn-color-l;
                color: #fff;
              }
            }
            .MyFav_btn_style2 {
              width: 128px;
              height: 45px;
              margin: 0 3px;
              border: 1px solid $btn-color-l;
              background: $btn-color-l;
              color: #fff;
              // cursor: pointer;
              transition: 0.3s ease-in;
              &:hover {
                background: transparent;
                color: $btn-color-l;
              }
            }
          }
        }
      }
    }
  }
  .page {
    padding-top: 60px;
    text-align: center;
    .ant-pagination-item-active {
      background: #211e55;
      border: #fff;
      a {
        color: #fff;
      }
    }
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  main {
    .MyFav_container {
      max-width: 90%;
    }
  }
} /* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
  main {
    .MyFav_container {
      max-width: 90%;
      margin: 0 auto;
      padding-top: 150px;
    }
  }
} /* 電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    .MyFav_container {
      max-width: 95%;
    }
  }
} /* iPad */
@media (min-width: 414px) and (max-width: 767px) {
  main {
    .MyFav_container {
      max-width: 99%;
      .MyFav_select {
        display: flex;
        width: 95%;
        margin: 0 auto;
      }
      .MyFav_list {
        max-width: 100%;
        .MyFav_pwa_r_inner {
          padding: 0;
          li {
            // margin-bottom: 10px;
            flex-wrap: wrap;
            width: 95%;
            margin: 32px auto;
            padding: 0;
            background: #fff;
            border-radius: 6px;
            overflow: hidden;
            border-bottom: transparent;
            box-shadow: 0px 3px 3px #4444;
            .MyFav_card {
              width: 100%;
              .MyFav_item {
                display: block;
                text-align: center;
                position: relative;
                span {
                  position: absolute;
                  top: 0;
                  right: 0;
                  color: $btn-color-l;
                  font-size: 30px;
                  padding: 0 6px;
                }
                img {
                  width: 100%;
                  height: auto;
                }
                h3 {
                  font-size: 22px;
                }
              }
            }
            div {
              width: 100%;
              text-align: center;
              h4 {
                font-weight: 300;
              }
            }
            .MyFav_card_button {
              width: 100%;
              text-align: center;
              .MyFav_btn_style {
                width: 90%;
                margin-bottom: 12px;
              }
              .MyFav_btn_style2 {
                width: 90%;
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
  }
} /* iPad mini & iphone */
@media (min-width: 374px) and (max-width: 413px) {
  main {
    .MyFav_container {
      max-width: 99%;
      .MyFav_select {
        display: flex;
        width: 95%;
        margin: 0 auto;
      }
      .MyFav_list {
        max-width: 100%;
        .MyFav_pwa_r_inner {
          padding: 0;
          li {
            // margin-bottom: 10px;
            flex-wrap: wrap;
            width: 95%;
            margin: 32px auto;
            padding: 0;
            background: #fff;
            border-radius: 6px;
            overflow: hidden;
            border-bottom: transparent;
            box-shadow: 0px 3px 3px #4444;
            .MyFav_card {
              width: 100%;
              .MyFav_item {
                display: block;
                text-align: center;
                position: relative;
                span {
                  position: absolute;
                  top: 0;
                  right: 0;
                  color: $btn-color-l;
                  font-size: 30px;
                  padding: 0 6px;
                }
                img {
                  width: 100%;
                  height: auto;
                }
                h3 {
                  font-size: 22px;
                }
              }
            }
            div {
              width: 100%;
              text-align: center;
              h4 {
                font-weight: 300;
              }
            }
            .MyFav_card_button {
              width: 100%;
              text-align: center;
              .MyFav_btn_style {
                width: 90%;
                margin-bottom: 12px;
              }
              .MyFav_btn_style2 {
                width: 90%;
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
  }
} /* iphone */
@media screen and (max-width: 373px) {
  main {
    .MyFav_container {
      max-width: 99%;
      .MyFav_select {
        display: flex;
        width: 95%;
        margin: 0 auto;
      }
      .MyFav_list {
        max-width: 100%;
        .MyFav_pwa_r_inner {
          padding: 0;
          li {
            // margin-bottom: 10px;
            flex-wrap: wrap;
            width: 95%;
            margin: 32px auto;
            padding: 0;
            background: #fff;
            border-radius: 6px;
            overflow: hidden;
            border-bottom: transparent;
            box-shadow: 0px 3px 3px #4444;
            .MyFav_card {
              width: 100%;
              .MyFav_item {
                display: block;
                text-align: center;
                position: relative;
                span {
                  position: absolute;
                  top: 0;
                  right: 0;
                  color: $btn-color-l;
                  font-size: 30px;
                  padding: 0 6px;
                }
                img {
                  width: 100%;
                  height: auto;
                }
                h3 {
                  font-size: 22px;
                }
              }
            }
            div {
              width: 100%;
              text-align: center;
              h4 {
                font-weight: 300;
              }
            }
            .MyFav_card_button {
              width: 100%;
              text-align: center;
              .MyFav_btn_style {
                width: 90%;
                margin-bottom: 12px;
              }
              .MyFav_btn_style2 {
                width: 90%;
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
  }
} /* iphone */
