@import '../scss/_variables.scss';
.Yybodyin {
  margin: 0 auto;
  display: flex;
  width: 80%;
  .Yybodyleft {
    width: 25%;
    .Yysubmit {
      button {
        background: $link-hover-color-s;
        color: white;
        border-radius: 12px;
        width: 250px;
      }
    }
    ul {
      li {
        input {
          -webkit-appearance: auto;
        }
      }
    }
    .Yysearch_container {
      margin-top: 10px;
      input {
        border-radius: 12px;
        width: 250px;
        border: $bg-btn-l solid 1px;
        padding: 5px;
      }
    }
  }
  .Yybodyright {
    width: 75%;
    // border: blue solid 2px;
    .Yybodyheader {
      height: 50px;
      /* border: rgb(255, 176, 5) solid 2px; */
      position: relative;
      display: flex;
      justify-content: space-between;
      select {
        width: 150px;
        padding-left: 7px;
      }
    }
    .Yyasidebody {
      padding-top: 30px;
      display: flex;
      /* justify-content: flex-end; */
      flex-wrap: wrap;
      .Yyaside_pro {
        // padding: 18px 6px;
        padding: 25px 6px;
        width: 33%;
        p {
          margin-bottom: 0em;
        }
        .item_image:hover .item_images {
          opacity: 0.3;
          transition: ease 0.5s;
        }
        .item_image:hover .item_imagebtnout {
          opacity: 1;
          transition: ease 0.5s;
        }
        .item_image {
          width: 100%;
          background: $bg-theme;
          position: relative;
          opacity: 1;
          .item_images {
            width: 100%;
          }
          .item_imagebtnout {
            position: absolute;
            top: 40%;
            left: 17%;
            opacity: 0;
            .item_imagebtn {
              background: $link-hover-color-s;
              color: white;
              width: 200px;
              border: 1px solid transparent;
            }
            .item_imagebtn:hover {
              background: white;
              color: #211e55;
              border: #adadad solid 1px;
            }
            .item_imagebtn2 {
              background: $link-hover-color-s;
              color: white;
              width: 200px;
              border: 1px solid transparent;
              margin-top: 5px;
            }
            .item_imagebtn2:hover {
              background: white;
              color: #211e55;
              border: #adadad solid 1px;
            }
          }
        }

        .itemul {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0em;
          margin-top: 20px;
          li {
            display: flex;
            .pro_new {
              color: #cb4042;
              border: 1px solid #cb4042;
              height: 25px;
            }
            p {
              margin-right: 10px;
            }
            .pro_c {
              width: 15px;
              height: 15px;
              background-color: #cb4042;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
