@import '../scss/_variables.scss';
.Yybodyin {
  margin: 0 auto;
  display: flex;
  width: 80%;
  .YyDetailleft {
    width: 40%;
    .DetailImg {
      img {
        width: 100%;
        background: $bg-theme;
      }
    }
    .DetailSmallPic {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      img {
        width: 23%;
      }
    }
  }
}
