@import '../scss/_variables.scss';
.Yyshow {
  display: block;
}
.Yyhide {
  display: none;
}
.Yybodyin {
  margin: 0 auto;
  display: flex;
  width: 80%;
  .Yybodyleft {
    width: 15%;
    .Yybrand {
      .Yywearstyle {
        font-size: 16px;
        color: $font-color-s;
        padding-bottom: 16px;
      }
      .Yybrand_ul {
        margin-bottom: 16px;
        li {
          padding-bottom: 12px;
          a {
            color: $font-color-m;
            transition: 0.3s ease-in-out;
            padding-bottom: 12px;
          }
          &:hover a{
            color: $font-color-s;
          }
        }
      }
    }
    .Yysearch_container {
      input {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: #4e4f97;
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid #e1e1e1;
        line-height: 1.3em;
        font-family: Muli, sans-serif;
        -webkit-appearance: none;
      }
      button {
        background: transparent;
        i {
          color: #2c3e50;
        }
      }
    }
  }
  .Yybodyright {
    width: 85%;
    // border: blue solid 2px;
    .Yybodyheader {
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
      span {
        color: #a4a4a4;
        margin: 0;
      }
      .item_change {
        display: flex;
        align-items: center;
        .item_css_change {
          padding: 0;
          margin-right: 16px;
          height: 32px;
          line-height: 32px;
          cursor: pointer;
          .icon-more_1 {
            font-size: 28px;
          }
          .icon-more_2 {
            font-size: 28px;
          }
        }
      }
      select {
        color: #a4a4a4;
        padding: 6px 12px;
        background: transparent;
        border: 1px solid #c2c2c2;
      }
    }
    .Yyasidebody {
      padding-top: 30px;
      display: flex;
      /* justify-content: flex-end; */
      flex-wrap: wrap;
      .Yyaside_pro {
        position: relative;
        padding:12px;
        width: 25%;
        transition: 0.3s ease-in;
        .item_image {
          background: #f4f4f4;
          opacity: 1;
          position: relative;
          .item_img {
            width: 100%;
          }
        }

        .item_inner {
          margin: 12px 0;
          .item_inner_li {
            padding-bottom: 6px;
            .item_inner_like {
              color: #8b8b8b;
              font-size: 18px;
            }
            p {
              color: #8b8b8b;
              margin-bottom: 0;
            }
          }
          .item_inner_flex {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .Yyaside_pro_change {
        width: 50%;
      }

      .item_btn_inner_all {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition: 0.3s ease-in;
        .item_btn_inner {
          width: 60%;
          text-align: center;
          opacity: 0;
          transition: 0.3s ease-in;
        }
        &:hover {
          background: #f8f8f9f5;
          // background: linear-gradient(#f8f8f9, #f8f8f9ee);
        }
        &:hover .item_btn_inner{
          opacity: 1;
        }
      }

    }
  }
}

/* button-1 */
.item_btn_add {
    font-size: 14px;
    padding: 28px 0;
    position: relative; 
    opacity: .999;
    transition: all 0.3s;
    width: 45%;
    margin: 4px;
    cursor: pointer;
}

.btn_fill_vert_add {
  background-color: #211e55;
  border: 1px solid $btn-color-l;
  color: #fff;
  overflow: hidden;
}
// .btn-fill-vert-o.btn-navy:before, .btn-fill-vert-o.btn-navy:after {
//     background-color: #34495e;
// }
.btn_fill_vert_add:before {
  top: 50%;
}
.btn_fill_vert_add:before, .btn_fill_vert_add:after {
  content: '';
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
.btn_fill_vert_add:hover {
  color: #211e55;
  // border: 1px solid #fff;
}

.btn_fill_vert_add:hover:before, .btn_fill_vert_add:hover:after {
  height: 50%;
  opacity: 1;
}
.btn_fill_vert_add.btn_navy_add:before, .btn_fill_vert_add.btn_navy_add:after {
  background-color: #f8f8f9;
}
.btn_fill_vert_add:after {
  bottom: 50%;
}
.btn_fill_vert_add:before, .btn_fill_vert_add:after {
  content: '';
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}
.btn_fill_vert_add:after {
  transition: all 0.3s;
}



// button-2 ----- 立即查看
.btn-fill-vert-o_s {
background-color: transparent;
border: 1px solid $btn-color-l;
color: $btn-color-l;
overflow: hidden;
}
// .btn-fill-vert-o.btn-navy:before, .btn-fill-vert-o.btn-navy:after {
//     background-color: #34495e;
// }
.btn-fill-vert-o_s:before {
top: 50%;
}
.btn-fill-vert-o_s:before, .btn-fill-vert-o_s:after {
content: '';
width: 100%;
height: 0;
opacity: 0;
position: absolute;
left: 0;
z-index: -1;
transition: all 0.3s;
}
.btn-fill-vert-o_s:hover {
color: #fff;
}

.btn-fill-vert-o_s:hover:before, .btn-fill-vert-o_s:hover:after {
height: 50%;
opacity: 1;
}
.btn-fill-vert-o_s.btn-navy_s:before, .btn-fill-vert-o_s.btn-navy_s:after {
background-color: $btn-color-l;
}
.btn-fill-vert-o_s:after {
bottom: 50%;
}
.btn-fill-vert-o_s:before, .btn-fill-vert-o_s:after {
content: '';
width: 100%;
height: 0;
opacity: 0;
position: absolute;
left: 0;
z-index: -1;
}
.btn-fill-vert-o_s:after {
transition: all 0.3s;
}

/* 版本尺寸 */
@media screen and (min-width: 1920px){}
@media (min-width:1366px) and (max-width:1920px){
  .Yybodyin .Yybodyright .Yyasidebody .item_btn_inner_all .item_btn_inner {
    width: 80%;
}
  } /* 電腦 */
@media (min-width:1024px) and (max-width:1365px){
  .Yybodyin {
    width: 90% !important;
    .Yybodyleft {
      width: 20%;
      .Yybrand {
        .Yybrand_ul {
          li {
            a {
              font-size: 12px;
            }
          }
        }
      }
    }
    .Yybodyright {
      width: 80%;
      .Yybodyheader {
        span,select {
          font-size: 12px;
        }
      }
      .Yyasidebody {
        .Yyaside_pro {
          width: 33.3%;
          .item_btn_inner_all {
            .item_btn_inner {
              width: 80%;
              .item_btn_add {
                padding: 10px 0;
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
} /* 電腦 */
@media (min-width:768px) and (max-width:1023px){
  .Yybodyin {
    width: 95% !important;
    .Yybodyleft {
      width: 25%;
      .Yybrand {
        .Yybrand_ul {
          li {
            a {
              font-size: 12px;
            }
          }
        }
      }
      .Yysearch_container {
        input {
          width: 80%;
        }
      }
    }
    .Yybodyright {
      width: 75%;
      .Yybodyheader {
        span,select {
          font-size: 12px;
        }
      }
      .Yyasidebody {
        .Yyaside_pro {
          width: 50%;
          padding: 6px;
          .item_btn_inner_all {
            .item_btn_inner {
              width: 80%;
              .item_btn_add {
                padding: 10px 0;
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
} /* iPad */
@media (min-width:414px) and (max-width:767px){
  .Yybodyin {
    width: 99% !important;
    display: block !important;
    .Yybodyleft {
      width: 98%;
      margin: 50px auto;
      .Yybrand {
        .Yybrand_ul {
          li {
            a {
              font-size: 12px;
            }
          }
        }
      }
      .Yysearch_container {
        input {
          width: 80%;
        }
      }
    }
    .Yybodyright {
      width: 100%;
      .Yybodyheader {
        span,select {
          font-size: 12px;
        }
      }
      .Yyasidebody {
        .Yyaside_pro {
          width: 50%;
          padding: 6px;
          .item_btn_inner_all {
            .item_btn_inner {
              width: 80%;
              .item_btn_add {
                padding: 10px 0;
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
} /* iPad mini & iphone */
@media (min-width:374px) and (max-width:413px){} /* iphone */
@media screen and (max-width: 373px){}/* iphone */

