@import '../scss/_variables.scss';
.YyDetailRight {
  a {
    color: #2c3e50;
  }
  width: 60%;
  .YyContent {
    .YyName {
      font-size: 40px;
      padding: 20px 100px;
    }
    .Yyitemprice {
      font-size: $icon-size-24;
      padding: 0px 100px;
    }
    .Yycontentin {
      padding-left: 45px;
      line-height: 32px;
    }
  }
  .Yybuttoninner {
    .Yyinputgroup {
      .Yycart {
        margin-left: 10px;
        .addto {
          width: 150px;
          height: 50px;
          margin-left: 10px;
          border: 1px solid #707070;
          font-size: 14px;
        }
      }

      font-size: 16px;
      .Yybtnout {
        border: 1px solid #707070;
        width: 152px;
        height: 50px;
        margin: 50px 20px;
        span {
          width: 50px;
          display: inline-block;
          text-align: center;
        }
        button {
          width: 50px;
          height: 100%;
          text-transform: none;
          border: 1px solid #707070;
          border-top: 0;
          border-bottom: 0;
        }
        .Yybtn1 {
          border-left: 0;
        }
        .Yybtn2 {
          border-right: 0;
        }
      }
    }
    padding-top: 20px;
    padding-left: 50px;
    .pro_color {
      display: flex;
      width: 70px;
      justify-content: space-around;
      .pro_a {
        width: 15px;
        height: 15px;
        background-color: #cb4042;
        border-radius: 50%;
      }
      .pro_b {
        width: 15px;
        height: 15px;
        background-color: #007cf8;
        border-radius: 50%;
      }
      .pro_c {
        width: 15px;
        height: 15px;
        background-color: #d9ff03d7;
        border-radius: 50%;
      }
    }
  }
}
