@import '../scss/_variables.scss';

.items-quick-view-modal {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1400;
  text-align: center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  .items-quick-view-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba( 0,0,0,0.8);
  }
  .items-wrapper {
    display: inline-block;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: left;
    // height: 600px;
    width: 1080px;
    padding: 0;
    max-width: 1080px;
    // height: auto!important;
    visibility: hidden;
    opacity: 0;
    .items-main {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
      height: 100%;
      // overflow-y: scroll;
      position: relative;
      background-color: #fff;
      .items-close-head {
        position: absolute;
        top: 4px;
        right: 6px;
        cursor: pointer;
        z-index: 99;
        .items-close {
          span {
            font-size: 24px;
            color: #8c8c8c;
          }
        }
        &:hover .items-close span{
          color: #cb4042;
        }
      }

      .items-product {
        .items-inner {
          #items-simple {
            display: flex;
            .items-img {
              width: 50%;
              .swiper-wrapper {
                height: 100%;
                .swiper-slide {
                  width: 100% !important;
                  background: #f4f4f4;
                }
              }
            }
            .items-content {
              width: 50%;
              padding: 24px;
              h1 {
                font-size: 32px;
                color: #2c3e50;
                margin-bottom: 12px;
              }
              .items-price {
                font-size: 16px;
                margin-bottom: 24px;
              }
              .items-text {
                font-weight: 300;
                font-size: 14px;
                color: #2c3e50;
                margin-bottom: 6px;
              }
              .items-btn {
                display: flex;
                margin-top: 24px;
                align-items: flex-end;
                .items-btn-margin {
                  width: 120px;
                  text-align: center;
                  padding: 4px 8px;
                  font-size: 12px;
                  border-bottom: 1px solid transparent;
                  cursor: pointer;
                  transition: 0.1s ease-in-out;
                  span {
                    color: #747474;
                    padding-right: 6px;
                    transition: 0.3s ease-in;
                  }
                  &:hover {
                    border-bottom: 1px solid #211e55;
                  }
                  &:hover span{
                    color: #211e55;
                  }
                  &:active {
                    transform: translateZ(0) scale(0.9);
                  }
                }
              }

            }
          }
        }
      }
    }
  }
  .items_wrapper_open {
    visibility: visible;
    opacity: 1;
  }
}

.quick_view_modal_open {
  visibility: visible;
  opacity: 1;
}

/* 版本尺寸 */
@media screen and (min-width: 1920px){}
@media (min-width:1366px) and (max-width:1920px){

} /* 電腦 */
@media (min-width:1024px) and (max-width:1365px){
  .items-quick-view-modal .items-wrapper {
    width: 980px;
  }
  .items-quick-view-modal .items-wrapper .items-main {
    width: 480px;
    margin: 0 auto;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple {
    display: flex;
    flex-wrap: wrap;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-img {
    width: 100%;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content {
    width: 100%;
  }
} /* 電腦 */
@media (min-width:768px) and (max-width:1023px){
  .items-quick-view-modal .items-wrapper {
    width: 980px;
  }
  .items-quick-view-modal .items-wrapper .items-main {
    width: 480px;
    margin: 0 auto;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple {
    display: flex;
    flex-wrap: wrap;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-img {
    width: 100%;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content {
    width: 100%;
  }
} /* iPad */
@media (min-width:414px) and (max-width:767px){
  .items-quick-view-modal .items-wrapper {
    width: 320px;
  }
  .items-quick-view-modal .items-wrapper .items-main {
    width: 320px;
    margin: 0 auto;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content h1 {
    font-size: 24px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple {
    display: flex;
    flex-wrap: wrap;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-img {
    width: 100%;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content {
    width: 100%;
    padding: 8px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-price {
    margin-bottom: 12px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-text {
    font-size: 13px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-btn {
    margin-top: 12px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-btn .items-btn-margin .items-wish-text {
    display: none;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-btn .items-btn-margin {
    border-bottom: 1px solid #8c8c8c;
  }
} /* iPad mini & iphone */
@media (min-width:374px) and (max-width:413px){
  .items-quick-view-modal .items-wrapper {
    width: 320px;
  }
  .items-quick-view-modal .items-wrapper .items-main {
    width: 320px;
    margin: 0 auto;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple {
    display: flex;
    flex-wrap: wrap;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-img {
    width: 100%;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content {
    width: 100%;
    padding: 8px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-price {
    margin-bottom: 6px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-text {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-btn {
    margin-top: 6px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-btn .items-btn-margin .items-wish-text {
    display: none;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-btn .items-btn-margin {
    border-bottom: 1px solid #8c8c8c;
  }
} /* iphone */
@media screen and (max-width: 373px){
  .items-quick-view-modal .items-wrapper {
    width: 320px;
  }
  .items-quick-view-modal .items-wrapper .items-main {
    width: 250px;
    margin: 0 auto;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content h1 {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple {
    display: flex;
    flex-wrap: wrap;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-img {
    width: 100%;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content {
    width: 100%;
    padding: 8px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-price {
    margin-bottom: 6px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-text {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-btn {
    margin-top: 6px;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-btn .items-btn-margin .items-wish-text {
    display: none;
  }
  .items-quick-view-modal .items-wrapper .items-main .items-product .items-inner #items-simple .items-content .items-btn .items-btn-margin {
    border-bottom: 1px solid #8c8c8c;
  }
}/* iphone */

