main .members_all .members_right .members_right_inner .members_r_bottom span.iconfont {
    padding: 0 8px;
}
// .ant-switch-checked {
//     background-color: #211e55;
// }
.seller_bottom_left {
    .sellerProductTable{
        width:100%;
        table-layout: fixed;
    }
    .tbl-header{
        background-color: #211e55;
    }
    .tbl-content{
        height:auto;
        overflow-x:auto;
        margin-top: 0px;
        border: 1px solid #d3d3d3;
    }
    tr {
        transition: 0.3s ease-in;
        &:hover {
            background: #f8f8f9;
        }
    }
    th{
        padding: 20px 0;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        .sellercheckbox {
            width: 15px;
            height: 15px;
            border: 1px solid #211e55;
            color: #211e55;
            -webkit-appearance: auto;
        }
    }
    td{
        padding: 15px 0 ;
        text-align: center;
        vertical-align:middle;
        font-weight: 300;
        font-size: 14px;
        border-bottom: 1px dashed #d3d3d3;
        .sellercheckbox {
            width: 15px;
            height: 15px;
            border: 1px solid #adadad;
            color: #211e55;
            -webkit-appearance: auto;
        }
    }
    img {
        width: 100px;
        border: 1px dashed #d3d3d3;
    }


}
    