.AboutWarrantyCrumb {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}
.AboutWarrantyCard {
  width: 90%;
  margin: 0 auto;
  h1 {
    font-size: 45px;
    text-align: center;
  }
  div {
    display: flex;
    justify-content: center;
  }
}

.BuyWarrantyCard {
  margin: 30px auto;
  width: 80%;
  h1 {
    font-size: 45px;
    text-align: center;
  }
}
.WarrantyCardContainer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  .WarrantyCard:hover .WiWarrantyButton {
    opacity: 1;
  }
  .WarrantyCard {
    width: 30%;
    position: relative;
    .WiWarrantyButton {
      display: flex;
      justify-content: center;
      opacity: 0;
      button {
        width: 80%;
        position: absolute;
        bottom: 57%;
        height: 50px;
        background: #e1e1e1;
      }
      button:hover {
        background: #4e4f97;
        color: white;
        border: white solid 1px;
      }
    }

    img {
      width: 100%;
    }
    h2 {
      text-align: center;
      padding-top: 20px;
    }
    p {
      text-align: center;
    }
  }
}
@media screen and (min-width: 1920px) {
}
@media (min-width: 1366px) and (max-width: 1920px) {
} /* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
} /* 電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
  .WarrantyCardContainer {
    flex-wrap: wrap;
  }
  .WarrantyCardContainer .WarrantyCard {
    width: 100%;
  }
} /* iPad */
@media (min-width: 414px) and (max-width: 767px) {
  .WarrantyCardContainer {
    flex-wrap: wrap;
  }
  .WarrantyCardContainer .WarrantyCard {
    width: 100%;
  }
} /* iPad mini & iphone */
@media (min-width: 374px) and (max-width: 413px) {
  .WarrantyCardContainer {
    flex-wrap: wrap;
  }
  .WarrantyCardContainer .WarrantyCard {
    width: 100%;
  }
} /* iphone */
@media screen and (max-width: 373px) {
} /* iphone */
