.AboutWarrantyCrumb {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
  }
  .AboutWarrantyCard {
    width: 90%;
    margin: 0 auto;
    h1 {
      font-size: 45px;
      text-align: center;
    }
    div {
      display: flex;
      justify-content: center;
    }
  }
  