@import '../scss/_variables.scss';

//選擇配送方式表單
.delivery-form {
  font-size: 20px;
  select {
    width: 100%;
    margin: 6px 0;
    border: 1px solid $bg-btn-l;
    padding: 2px 10px;
    option {
      width: 100%;
    }
  }
  button {
    width: 200px;
    height: 45px;
    margin-top: 32px;
    margin-left: 2px;
    border: 1px solid $link-hover-color-l;
    text-align: center;
    color: #fff;
    background: $link-hover-color-l;
    transition: 0.3s ease-in;
    cursor: pointer;
    a {
      display: block;
      color: #fff;
    }
    &:hover {
      background: #fff;
      color: $link-hover-color-l;
      a {
        color: #000;
      }
    }
  }
  ul {
    li {
      label {
        display: block;
        margin: 10px 0;
        padding: 5px 0 5px 10px;
        overflow: hidden;
        input {
          -webkit-appearance: auto;
          margin-right: 10px;
        }
        img {
          height: 120px;
          padding: 0 10px;
        }
      }
    }
  }
}

/* 版本尺寸 */
@media screen and (min-width: 1920px) {
}
@media (min-width: 1366px) and (max-width: 1920px) {
} /* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
} /* 電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
} /* iPad */
@media (min-width: 414px) and (max-width: 767px) {
} /* iPad mini & iphone */
@media (min-width: 374px) and (max-width: 413px) {
} /* iphone */
@media screen and (max-width: 373px) {
} /* iphone */
