@import '../scss/_variables.scss';

//購買個人資料填寫
.cart-buyerInfo-form {
  width: 100%;
  > div {
    display: flex;
    > div {
      width: 100%;
      > div {
        margin: 10px 0;
        label {
          font-size: $font-size-16;
        }
        input {
          width: 98%;
          line-height: 45px;
          border: 1px solid #aaa;
        }
        textarea {
          width: 98%;
          border: 1px solid #aaa;
        }
        .error {
          font-size: $font-size-12;
          color: $btn-color-r;
        }
      }
    }
    button {
      width: 200px;
      height: 45px;
      margin-top: 32px;
      margin-left: 2px;
      border: 1px solid $link-hover-color-l;
      text-align: center;
      color: #fff;
      background: $link-hover-color-l;
      transition: 0.3s ease-in;
      cursor: pointer;
      a {
        color: #fff;
        display: block;
      }
      &:hover {
        background: #fff;
        color: $link-hover-color-l;
        a {
          color: #000;
        }
      }
    }
    .btn_warning {
      background: $btn-color-r;
      border: 1px solid $btn-color-r;
      a {
        color: #fff;
      }
      &:hover {
        background: #fff;
        color: $btn-color-r;
        a {
          color: $btn-color-r;
        }
      }
    }
  }
}
/* 版本尺寸 */
@media screen and (min-width: 1920px) {
}
@media (min-width: 1366px) and (max-width: 1920px) {
} /* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
} /* 電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
} /* iPad */
@media (min-width: 414px) and (max-width: 767px) {
  .cart-buyerInfo-form {
    > div {
      display: block;
      > div {
        > div {
          margin: 10px;
          input {
            width: 100%;
          }
          textarea {
            width: 100%;
          }
        }
      }
    }
  }
} /* iPad mini & iphone */
@media (min-width: 374px) and (max-width: 413px) {
  .cart-buyerInfo-form {
    > div {
      display: block;
      > div {
        > div {
          margin: 10px;
          input {
            width: 100%;
          }
          textarea {
            width: 100%;
          }
        }
      }
    }
  }
} /* iphone */
@media screen and (max-width: 373px) {
  .cart-buyerInfo-form {
    > div {
      display: block;
      > div {
        > div {
          margin: 10px;
          input {
            width: 100%;
          }
          textarea {
            width: 100%;
          }
        }
      }
    }
  }
} /* iphone */
