@import '../scss/_variables.scss';

//購物車
.cart-container {
  .wi-ul {
    border-bottom: 1px solid #cacaca;
  }
  > ul {
    // overflow: hidden;
    // overflow-x: auto;
    > li {
      > ul {
        display: flex;
        line-height: 50px;
        border-bottom: 1px dashed #cacaca;
        justify-content: center;
        align-items: center;
        > li {
          width: 100%;
          padding: 10px 0;
          text-align: center;
          .icon-error {
            cursor: pointer;
          }
          img {
            overflow: hidden;
            height: 120px;
            margin-top: 2px;
          }
          .btn_wish {
            background-color: #adadad;
            color: #fafafa;
          }
          .btn_booking {
            background-color: #f3f4ed;
            color: #8b8b8b;
          }
          .btn_width {
            width: 40%;
            height: 36px;
            line-height: 36px;
            margin: 0;
            padding: 0;
            font-size: 14px;
            margin-left: 6px;
            background: transparent;
            border: 1px solid $font-color-s;
          }
          button {
            transition: 0.3s ease-out;
            &:hover {
              background-color: #211e55;
              color: #fafafa;
              i {
                color: #fafafa;
              }
            }
          }
        }
      }
    }
    .cart-footer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-top: 32px;
      // line-height: 45px;
      // border-bottom: 1px solid $bg-btn-l;
      // padding-bottom: 16px;
      // vertical-align: middle;
      span {
        font-size: 36px;
        .MFEE0706NICE {
          font-size: 16px;
          color: $btn-color-r;
        }
      }
      input {
        width: 200px;
        border: 1px solid $bg-btn-l;
      }
      button {
        width: 200px;
        height: 45px;
        margin-left: 2px;
        border: 1px solid $link-hover-color-l;
        text-align: center;
        color: #fff;
        background: $link-hover-color-l;
        transition: 0.3s ease-in;
        cursor: pointer;
        a {
          display: block;
          color: #fff;
        }
        &:hover {
          background: #fff;
          color: $link-hover-color-l;
          a {
            color: #000;
          }
        }
      }
      .codeInput {
        height: 36px;
        line-height: 36px;
        text-align-last: center;
        margin-right: 5px;
      }
      .codebutton {
        width: 83px;
        height: 36px;
        line-height: 36px;
        margin-right: 14px;
        border: 1px solid #211e55;
      }
    }
    .wi-num {
      padding-right: 14px;
      h2 {
        font-size: 14px;
        color: #2c3e50;
      }
      span {
        font-weight: bold !important;
      }
    }
  }

  .willCart {
    width: 100px;
    height: 36px;
    margin: 0 auto;
    border: 1px solid #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .DetailBtnEdit {
      width: 50px;
      background: transparent;
      cursor: pointer;
      &:hover i {
        color: #2c3e50;
      }
    }

    .DetailBtnAdd {
      width: 50px;
      background: transparent;
      cursor: pointer;
      &:hover i {
        color: #2c3e50;
      }
    }
  }

  .wi-footer {
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid transparent !important;
    padding-right: 14px;

    .wi-footer-cart {
      width: 100px;
      height: 36px;
      border: 1px solid #211e55;
      background: transparent;
      color: #211e55;
      margin: 0;
      margin-right: 6px;
      transition: 0.3s ease-in;
      cursor: pointer;
      a {
        color: #211e55;
        display: block;
      }
      &:hover {
        background: $link-hover-color-l;
        color: #fff;
        a {
          color: #fff;
        }
      }
    }
    .wi-footer-set {
      width: 100px;
      height: 36px;
      border: 1px solid #211e55;
      background: transparent;
      // a {
      //   color: #211e55 !important;
      // }
      transition: 0.3s ease-in;
      cursor: pointer;
      a {
        color: #211e55;
        display: block;
      }
      &:hover {
        background: $link-hover-color-l;
        color: #fff;
        a {
          color: #fff;
        }
      }
    }
  }
}

//購物車是空的

.cart-empty {
  width: 100%;
  margin: 100px auto 130px auto;
  li {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .border-top {
    border-top: 1px solid #e1e1e1;
    button {
      width: 200px;
      height: 45px;
      margin-left: 5px;
      border: 1px solid $link-hover-color-l;
      text-align: center;
      color: #fff;
      background: $link-hover-color-l;
      transition: 0.3s ease-in;
      cursor: pointer;
      a {
        display: block;
        color: #fff;
      }
      &:hover {
        background: #fff;
        color: $link-hover-color-l;
        a {
          color: #000;
        }
      }
    }
  }
}
/* 版本尺寸 */
@media screen and (min-width: 1920px) {
}
@media (min-width: 1366px) and (max-width: 1920px) {
} /* 電腦 */
@media (min-width: 1024px) and (max-width: 1365px) {
} /* 電腦 */
@media (min-width: 768px) and (max-width: 1023px) {
} /* iPad */
@media (min-width: 414px) and (max-width: 767px) {
  .li-prices {
    display: none;
  }
} /* iPad mini & iphone */
@media (min-width: 374px) and (max-width: 413px) {
  .li-prices {
    display: none;
  }
} /* iphone */
@media screen and (max-width: 373px) {
  .li-prices {
    display: none;
  }
} /* iphone */
